*{
	margin:0;
	padding: 0;
}
body{
	font-family: 'Lato', sans-serif;
	background-color: #f4f6f8;
}
.menu1 li{
	list-style: none;
}
.section{
	width: 1170px;
	margin: 0 auto;
}
.menu{
	width: 900px;
	float: right;
	text-align: center;
}
.menu .item{
	float: left;
	width: calc(100% / 3 - 30px);
	height: 368px;
	overflow: hidden;
	margin-bottom: 30px;
	margin-left: 30px;
}
.menu .item .row{
	width: 100%;
	height: 368px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #fff;
}
figcaption{
	line-height: 70px;
	font-size: 18px;
	font-weight: 600;
}
.menu .item .row .price{
	margin-bottom: 70px;
	font-size: 18px;
	color: #ff5912;
	font-weight: 700;
}
.menu .item .row .size{
	margin-bottom: 30px;
	font-size: 14px;
}
.menu .item .row span{
	cursor: pointer;
	width: 13px;
	height: 13px;
	border-radius: 100%;
    display: inline-block;
}
.black{
	background: #34404b;
}
.blue {
	background: #3ab3ff;
}
.green{
	background: #2fd967;
}
.red{
	background: #e12e3f;
}
.icon .fa{
    padding: 0 13px;
    cursor: pointer;
}
.icon .fa.fa-shopping-cart{
	color: #ff5912;
}
.menu .item .row img{
	height: 200px;
	width: auto;
	transition: all 350ms ease-out;
	-webkit-transition: all 350ms ease-out;
}
.menu .item .row{
	transition: all 450ms ease-out;
	-webkit-transition:all 450ms ease-out;
}
.menu .item .row:hover img{
	height: 90px;
	width: auto;
	transition: all 250ms;
	-webkit-transition:all 250ms ease-out;
}
.menu .item .row:hover .price{
	margin-bottom: 0px;
	opacity: 0;
	height: 0px;
}
.menu .sent{
	width: 870px;
	height: 60px;
	background: #ffffff;
	margin-left: 30px;
	float: left;
}
.menu .color span{
	cursor: pointer;
	width: 10px;
	height: 10px;
	border-radius: 100%;
    display: inline-block;
}
.menu .color .one{
	background-color: #ff5912;
	margin-top: 25px;
}
.products .edit-key{
	width: 70px;
	height: 12px;
	background-color: white;
	float: left;
	position: relative;
	margin-left: 30px;
	padding: 24px 400px;
}
.products .edit-key .edit{
	position: absolute;
	margin: 0 auto;
}
.products .edit-key .edit .edit1{
	width: 13px;
	height: 13px;
	border-radius: 100%;
	background-color: #ff5912;
	margin-left: 10px;
	float: left;
}

.line{
	border-bottom: 3px solid #f4f6f8;
	width: 168px;
	height: 0px;
	margin:0 auto;
	margin-bottom: 30px;
	margin-top: 30px;
}
.menu1{
	width: 270px;
	height: auto;
	float: left;
	margin-top: 0px;
}
.menu1 .item1{
	width: 100%;
	height: 300px;
	background-color: white;
}
.menu1 .item1 .block-categories{
	width: 270px;
	height: 270px;
	font-weight: 700;
	font-size: 18px;
}	
h3{
	padding-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	color: #ff5912;
}
.menu1 .item1 .block-categories ul{
	margin-top :30px;
	list-style: none;
	margin-left: 30px
}
.menu1 .item1 .block-categories li{
	margin-top: 30px;
}
.menu1 .item2{
	margin-top:30px;
	width: 100%;
	height: 230px;
	background-color: white;
}
.money1{
	margin-left: 50px;
}
.money2{
	margin-left: 60px;
}
.price-filtter .line-box{
	width: 180px;
	border: 1px solid #edf0f2;
	margin: 30px 30px;
	position: relative;
}
.price-filtter .line-box .line1{
	position: absolute;
	display: inline-block;
	width: 107px;
	border: 1px solid #38444f;
	top: -1px;
	left: 35px;
}
.price-filtter .line-box .node{
	width: 11px;
	height: 11px;
	position: absolute;
	border-radius: 100%;
	background: #34404b;
}
.price-filtter .line-box .node.no_1{
	top: -5px;
	left: 27px;
}
.price-filtter .line-box .node.no_2{
	top: -5px;
	right: 27px;
}
.number{
	float: left;
	margin-left: 30px;
}
input{
	width: 47px;
	height: 25px;
	margin-left: 15px;
}
.menu1 .item3{
	margin-top:30px;
	width: 100%;
	height: 300px;
	background-color: white;
}
.hinder{display: none;}
.checkbox{
    float: left;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 10px;
}
.checkbox label{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.checkbox label:before{
    content: " ";
    width: 6px;
    height: 6px;
    border:5px solid #edf0f2;
    background: #edf0f2;
    display: inline-block;
    margin-right: 15px;
}
.checkbox input[type="checkbox"]:checked + label {
    color: #ff5912;
}
.checkbox input[type="checkbox"]:checked + label:before{
    border:5px solid #ff5912;
}
.menu .edit{
	width: 870px;
	height: 60px;
	background-color: white;
}
.container{
	width: 1170px;
	height: 125px;
	margin: 0 auto;
	background-color: white;
	margin-top: 120px;
}
footer{
	width: 100%;
	float: left;
}
.container .new{
	float: left;
	width: 110px;
	display: inline-block;
	font-size: 18px;
	font-weight: 900;
	margin-top: 55px;
	padding-left: 60px;
	margin-right: 0px;
	color: #ff5912;
}
.container .join{
	width: 285px;
	font-style: italic;
	float: left;
	display: inline-block;
	margin-top: 57px;
	margin-left: 30px;
	font-size: 14px;
}
.container .email{
	width: 370px;
	float: left;
	display: inline-block;
	margin-top: 35px;
	margin-left: 250px;
	color: #ff5912;
}
form{
	display: inline-block;

}
.container .email input{
	width: 125px;
	height: 18px;
	margin-left: 5px;
	border:none;
	margin-top: 20px;
}
.container .email button{
	width: 100px;
	height: 50px;
	margin-left: 110px;
	background-color: #ff5912;
	font-weight: 700;
	color: white;
}

.footer1{
	float: left;
	width: 100%;
	margin: 0 auto;
	background-color: white;
	margin-top: 120px;
}
.footer1 .show{
	width: 100%;
	height: 150px;
}
.footer1 .show .logo{
	display: inline-block;
	float: left;
	margin-left: 60px;
	margin-top: 40px; 
}
.footer1 .show .logo .shopy{
	line-height: 30px;
	font-size: 14px;
	font-weight: 300;
}
.footer1 .show .track1{
	font-size: 14px;
	font-weight: 300;
	display: inline-block;
	float: left;
	margin-top: 30px; 
	margin-left:200px
}

.footer1 .show .track2{
	font-size: 14px;
	font-weight: 300;
	display: inline-block;
	float: left;
	margin-top: 30px; 
	margin-left:115px
}
.footer1 .show .track3{
	font-size: 14px;
	font-weight: 300;
	display: inline-block;
	float: left;
	margin-top: 30px; 
	margin-left:50px
}
.footer1 .show .track4{
	font-size: 14px;
	font-weight: 300;
	display: inline-block;
	float: left;
	margin-top: 50px;
	margin-left: 120px;
	color: #ff5912;
}
}
.footer1 .show .track4 .payment{
	margin-bottom: 20px;
	color: #ff5912;
}
.footer1 .show .track4 .logo1{
	margin-top: 15px;
}
li{
margin: 7px;
}
.footer1 .show .track1 li:hover{
	color: #ff5912;
}
.footer1 .show .track2 li:hover{
	color: #ff5912;
}
.footer1 .show .track3 li:hover{
	color: #ff5912;
}




