*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	background-color: #f4f6f8;
}
.headerS{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 120px;
	background-color: white;
}
.headerS1{
	width: 100%;
	margin: 0 auto;
	background-color: white;
}
.section1{
	width: 1170px;
	margin: 0 auto;
	background-color: white;
	height: 60px;
}
.section1 .email-header{
	position: relative;
}
.section1 .email-header .phone{
	padding-left: 33px;
}
.section1 .email-header .fa-envelope{
	 color: #ff5912;
	 margin-top: 20px;
}
.section1 .email-header .fa-phone-square{
	color: #ff5912;
}
.section1 .email-header .mail{
	width: 120px;
	height: 18px;
	border:none;
}
.section1 .email-header .icon-header{
	float: right;
	margin-top: 7px;
}
.section1 .email-header .icon-header .fa{
	text-align: center;
	padding-top: 15px;
	width: 45px;
	height: 50px;
	float: left;
	color: #34404b;
}
.section1 .email-header .icon-header .fa:hover.fa-facebook-f{
	background-color: #4267b2;
	transition: 250ms ;
	color: white;
	
}
.section1 .email-header .icon-header .fa:hover.fa-twitter{
	color: white;
	transition: 250ms ;
	background-color:#1DA1F2;
}
.section1 .email-header .icon-header .fa:hover.fa-google-plus{
	color: white;
	transition: 250ms ;
	background-color:#f93c19;
}
.section1 .email-header .icon-header .fa:hover.fa-camera-retro{
	color: white;
	transition: 250ms ;
	background-color:#ec8470;
}
.line-header{
	float: left;
	width: 100%;
	height: 1px;
	background-color: #f4f6f8;
}
.section2 {
	width: 1170px;
	margin: 0 auto;
	background-color: white;
	height: 120px;
}
.section2 .products2{
	width: 100%;
	margin: 0 auto;
	position: relative;
	float: left;
}
.section2 .products2 .logo-header{
	float: left;
	margin-top: 40px;
}
.headerS{
	    margin-bottom: 100px;
}
.section2 .products2 .danhsach{
	width: 60%;
	height: 40px;
	float: left;
	display:block;
	padding-left: 80px;
	list-style: none;
	margin-top: 45px;
}
.danhsach li{
	float: left;
	padding-top: 10px;
	padding-right: 40px;
	font-size: 16px;
	font-weight: 600;
}
.section2 .products2 .icon-header1{
	float: right;
	margin-top: 40px;
}
.section2 .products2 .icon-header1 .fa{
	text-align: center;
	padding-top: 10px;
	width: 60px;
	height: 40px;
	float: left;
	color: #34404b;
	font-size: 25px;
}
.section2 .products2 .danhsach .ic:hover{
	color: #ff5912;
}
.section2 .products2 .icon-header1 .fa:hover.fa-search{
	background-color: #2594df;
	color: white;
	transition: 250px;
}
.section2 .products2 .icon-header1 .fa:hover.fa-user-o{
	background-color: #edeff4;
	color: #76a2d3;
	transition: 250px;
}
.section2 .products2 .icon-header1 .fa:hover.fa-shopping-cart{
	background-color: #ff8014;
	color: white;
	transition: 250px;
}
.section2 .products2 .icon-header1 .fa.fa-shopping-cart{
	color: #ff5912;
}
.section3{
	width: 100%;
	margin: 0 auto;
	float: left;
	background-color: white;
	padding-bottom: 100px;
}
.section3 .menu-header{
	width: 1170px;
	margin: 0 auto;
}
.section3 .menu-header .menu1-header{
	width: 40%;
	float: left;
	padding-left: 130px;
}
.section3 .menu-header .menu1-header .images-header .anh-four{
	margin-top: 120px;
	padding-left: 74px;
}

.section3 .menu-header .menu1-header .images-header .anh-con{
	margin-top: 65px;
}
.section3 .menu-header .menu1-header .images-header .anh-con .anh:hover{
	background-color: #ff5912;
}
.section3 .menu-header .menu1-header .images-header .anh-con .anh{
	width: 100px;
	height: 70px;
	background-color: #f4f6f8;
	float: left;
	margin-right: 10px;
	text-align: center;
}
.section3 .menu-header .menu1-header .images-header .anh-con .con1{
	float: left;
	padding-left: 30px;
	padding-top: 10px;
}
.section3 .menu-header .menu1-header .images-header .anh-con .con2{
	float: left;
	padding-left: 38px;
	padding-top: 15px;
}
.section3 .menu-header .menu1-header .images-header .anh-con .con3{
	float: left;
	width: 30px;
	height: 55px;
	margin-left: 35px;
	padding-top: 7px;
}
.section3 .menu-header .menu2-header{
 	width: 56%;
 	float: right;
}
.section3 .menu-header .menu2-header .text1{
	width:100%;
	height: 190px;
	margin-top: 110px;
}
.section3 .menu-header .menu2-header .text1 .full{
	font-size: 40px;
	font-weight: 900;
	color: #ff5912;
}
.section3 .menu-header .menu2-header .text1 .vanban1{
	font-size: 18px;
	font-weight: 400;
	color: #3c4751;
	margin-top: 10px;
	margin-bottom: 30px;
}
.section3 .menu-header .menu2-header .text1 .vanban{
	margin-top: 5px;
	font-size: 15px;
	color: #495662;
	font-weight: 300;
}
.section3 .menu-header .menu2-header .line2{
	border-bottom: 1px solid #f4f6f8;
	width: 550px;
	margin-top: 30px;
	float: left;
	height: 0px;
}
.section3 .menu-header .menu2-header .text2{
	width: 100%;
	margin-top: 80px;
}
.section3 .menu-header .menu2-header .text2 .chose-left{
	width: 40%;
	float: left;
}
.section3 .menu-header .menu2-header .text2 .chose-left .chos-size{
	font-size: 17px;
	font-weight: 300;
	color: #34404b;
	padding-right: 10px;
}
.section3 .menu-header .menu2-header .text2 .chose-left .size{
	font-size: 15px;
	font-weight: 300;
	margin: 0 5px;
	color: #34404b;
}
.section3 .menu-header .menu2-header .text2 .chose-left .size:hover{
	color: #ff5912;
}
.section3 .menu-header .menu2-header .text2 .chose-right{
	width: 50%; 
	float: right;
}
.section3 .menu-header .menu2-header .text2 .chose-right .Quantity{
	font-size: 17px;
	width: 140px;
	font-weight: 300;
	color: #34404b;
	float: left;
}
.put-quanti:before{
	content: "+";
}
.put-quanti:after{
	content: "-";
}
.section3 .menu-header .menu2-header .text2 .chose-right .put-quanti{
	float: left;
	margin-top: -2px;
}
.section3 .menu-header .menu2-header .text2 .chose-right .put-quanti input{
	font-size: 15px;
	width: 30px;
	height: 25px;
	border: none;
	color: #ff5912;
}
.section3 .menu-header .menu2-header .text3{
	width: 100%;
	float: left;
}
.section3 .menu-header .menu2-header .text3 .tien{
	float: left;
	margin-top: 80px;
	font-size: 16px;
	font-weight: 900;
}
.section3 .menu-header .menu2-header .text3 .icon-bot{
	float:left;
	margin-top: 80px;
	padding-left: 240px;
}
.section3 .menu-header .menu2-header .text3 .buton{
	margin-top:50px;
	width: 100px;
	height: 50px;
	margin-left: 27px;
	background-color: #ff5912;
	font-weight: 700;
	color: white;
}
.section3 .menu-header .menu2-header .text3 .fa{
	margin-left: 15px;
}
.menu1 li{
	list-style: none;
}
.section{
	float: left;
	width: 100%;
}
.products1{
	width: 1170px;
	margin: 0 auto;
	background-color: #f4f6f8;
}
.products{
	width: 75%;
	margin: 0 auto;
	float: right;
	margin-bottom: 120px;
}
.menu{
	width: 100%;
	float: right;
	text-align: center;
}
.menu .rows{
	margin-left: -15px;
	margin-right: -15px;
}
.menu .item{
	float: left;
	width: calc(100% / 3);
	height: 368px;
	overflow: hidden;
	margin-bottom: 30px;
	padding: 15px;
}
.menu .item .row{
	width: 100%;
	height: 368px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #fff;
}
figcaption{
	line-height: 70px;
	font-size: 18px;
	font-weight: 600;
}
.menu .item .row .price{
	margin-bottom: 70px;
	font-size: 18px;
	color: #ff5912;
	font-weight: 700;
}
.menu .item .row .size{
	margin-bottom: 30px;
	font-size: 14px;
}
.menu .item .row span{
	cursor: pointer;
	width: 13px;
	height: 13px;
	border-radius: 100%;
    display: inline-block;
}
.black{
	background: #34404b;
}
.blue {
	background: #3ab3ff;
}
.green{
	background: #2fd967;
}
.red{
	background: #e12e3f;
}
.icon .fa{
    padding: 0 13px;
    cursor: pointer;
}
.icon .fa.fa-shopping-cart{
	color: #ff5912;
}
.menu .item .row img{
	height: 200px;
	width: auto;
	transition: all 350ms ease-out;
	-webkit-transition: all 350ms ease-out;
}
.menu .item .row{
	transition: all 450ms ease-out;
	-webkit-transition:all 450ms ease-out;
}
.menu .item .row:hover figcaption{
	color: #ff5912;
}
.menu .item .row:hover img{
	height: 90px;
	width: auto;
	transition: all 250ms;
	-webkit-transition:all 250ms ease-out;
}
.menu .item .row:hover .price{
	margin-bottom: 0px;
	opacity: 0;
	height: 0px;
}
.menu .color span{
	cursor: pointer;
	width: 10px;
	height: 10px;
	border-radius: 100%;
    display: inline-block;
}
.menu .color .one{
	background-color: #ff5912;
	margin-top: 25px;
}
.products .edit-key{
	width: calc(100% - 30px);
	height: 60px;
	background-color: white;
	float: right;
	text-align: center;
}
.products .edit-key .edit{
	display: inline-block;
	margin-top: 24px;
	padding-left: 20px;
}
.products .edit-key .edit .edit1{
	width: 13px;
	height: 13px;
	border-radius: 100%;
	background-color: #ff5912;
	margin-left: 10px;
	float: left;
}

.line{
	border-bottom: 3px solid #f4f6f8;
	width: 168px;
	height: 0px;
	margin:0 auto;
	margin-bottom: 30px;
	margin-top: 30px;
}
.menu1{
	width: 25%;
	height: auto;
	float: left;
	margin-top: 0px;
}
.menu1 .item1{
	width: 100%;
	height: 300px;
	background-color: white;
}
.menu1 .item1 .block-categories{
	width: 100%;
	height: 300px;
	font-weight: 700;
	font-size: 18px;
}	
h3{
	padding-top: 30px;
	padding-left: 30px;
	margin-bottom: 30px;
	color: #ff5912;
}
.menu1 .item1 .block-categories ul{
	margin-top :30px;
	list-style: none;
	padding-left: 30px;
}
.menu1 .item1 .block-categories li{
	margin-top: 30px;
}
.menu1 .item2{
	margin-top:30px;
	width: 100%;
	height: 230px;
	background-color: white;
}
.money1{
	padding-left: 50px;
}
.money2{
	padding-left: 90px;
}
.price-filtter .line-box{
	width: 70%;
	border: 1px solid #edf0f2;
	margin: 30px 30px;
	position: relative;
}
.price-filtter .line-box .line1{
	position: absolute;
	display: inline-block;
	width: 64%;
	border: 1px solid #38444f;
	top: -1px;
	left: 35px;
}
.price-filtter .line-box .node{
	width: 11px;
	height: 11px;
	position: absolute;
	border-radius: 100%;
	background: #34404b;
}
.price-filtter .line-box .node.no_1{
	top: -5px;
	left: 27px;
}
.price-filtter .line-box .node.no_2{
	top: -5px;
	right: 27px;
}
.number{
	float: left;
	padding-left: 30px;
}
.number .kitu{
	width: 47px;
	height: 25px;
	padding-left: 15px;
}
.number span{
	padding-left: 15px;
}
.menu1 .item3{
	margin-top:30px;
	width: 100%;
	height: 300px;
	background-color: white;
}
.hinder{display: none;}
.checkbox{
    float: left;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 10px;
}
.checkbox label{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.checkbox label:before{
    content: " ";
    width: 6px;
    height: 6px;
    border:5px solid #edf0f2;
    background: #edf0f2;
    display: inline-block;
    margin-right: 15px;
}
.checkbox input[type="checkbox"]:checked + label {
    color: #ff5912;
}
.checkbox input[type="checkbox"]:checked + label:before{
    border:5px solid #ff5912;
}
.menu .edit{
	width: 870px;
	height: 60px;
	background-color: white;
}
.container{
	width: 1170px;
	height: 125px;
	margin: 0 auto;
	background-color: white;
}
footer{
	width: 100%;	
	margin:0 auto;
	float: left;
	margin-bottom: 120px;
}
.container .new{
	float: left;
	width: 19%;
	display: inline-block;
	font-size: 18px;
	font-weight: 900;
	margin-top: 55px;
	padding-left: 60px;
	color: #ff5912;
}
.container .join{
	width: 40%;
	font-style: italic;
	float: left;
	display: inline-block;
	margin-top: 57px;
	padding-left: 30px;
	font-size: 14px;
}
.container .email{
	width: 40%;
	float:right;
	display: inline-block;
	color: #ff5912;
	padding-top: 57px;
	padding-left: 30px;
}
.number span{
	display: inline-block;

}
.container .email .fa{
	float: left;
}
.container .email input{
	width: 60%;
	height: 18px;
	margin-left: 5px;
	border:none;
	float: left;


}
.button{
	float: left;
	width: 20%;
	height: 50px;
	margin-top: -18px;
	background-color: #ff5912;
	font-weight: 700;
	color: white;
}

.footer1{
	width: 100%;
	margin: 0 auto;
	background-color: white;

}
.footer1 .show{
	width: 1170px;
	margin: 0 auto;
	height: 250px;
}
.footer1 .show .logo{
	width: 28%;
	display: inline-block;
	float: left;
	padding-left: 15px;
	padding-top: 90px; 
}
.footer1 .show .logo .shopy{
	line-height: 30px;
	font-size: 14px;
	font-weight: 300;
}
.footer1 .show .track1{
	width: 16%;
	font-size: 14px;
	font-weight: 300;
	display: inline-block;
	float: left;
	padding-top: 90px; 
}

.footer1 .show .track2{
	width: 19%;
	font-size: 14px;
	font-weight: 300;
	display: inline-block;
	float: left;
	padding-top: 90px; 
}
.footer1 .show .track3{
	width: 21%;
	font-size: 14px;
	font-weight: 300;
	display: inline-block;
	float: left;
	padding-top: 90px; 
}
.footer1 .show .track4{
	width: 16%;
	font-size: 14px;
	font-weight: 300;
	display: inline-block;
	float: left;
	padding-top: 100px;
	color: #ff5912;
}
.footer1 .show .track4 .payment{
	margin-bottom: 20px;
	color: #ff5912;
	
}
.footer1 .show .track4 .logo1{
	margin-top: 15px;
}
.footer1 .show li{
	padding: 7px;
}
.footer1 .show .track1 li:hover{
	color: #ff5912;
}
.footer1 .show .track2 li:hover{
	color: #ff5912;
}
.footer1 .show .track3 li:hover{
	color: #ff5912;
}

.products3{
	width: 100%;
	float: left;
}
.products3 .menu3{
	width: 1170px;
	margin: 0 auto;
}
.products3 .menu3 .related{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 80px;
}
.products3 .menu3 .related .related1{
	font-size: 29px;
	font-weight: 700;
	color: #ff5912;
}
.products3 .menu3 .related .PRODUCTS{
	font-size: 29px;
	font-weight: 700;
	color: #34404b;
}
.products3 .menu3 .related .vanban2{
	font-size: 16px;
	font-weight: 300;
	color: #34404b;
	margin-top: 20px;
}
.page1{
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
}
.page1 .item{
	float: left;
	width: calc(100% / 4);
	height: 368px;
	overflow: hidden;
	margin-bottom: 30px;
	padding: 15px;
}
.page1 .item .row{
	width: 100%;
	height: 368px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #fff;
}
figcaption{
	line-height: 70px;
	font-size: 18px;
	font-weight: 600;
}
.page1 .item .row .price{
	margin-bottom: 70px;
	font-size: 18px;
	color: #ff5912;
	font-weight: 700;
}
.page1 .item .row .size{
	margin-bottom: 30px;
	font-size: 14px;
}
.page1 .item .row span{
	cursor: pointer;
	width: 13px;
	height: 13px;
	border-radius: 100%;
    display: inline-block;
}
.black{
	background: #34404b;
}
.blue {
	background: #3ab3ff;
}
.green{
	background: #2fd967;
}
.red{
	background: #e12e3f;
}
.icon .fa{
    padding: 0 13px;
    cursor: pointer;
}
.icon .fa.fa-shopping-cart{
	color: #ff5912;
}
.page1 .item .row img{
	height: 200px;
	width: auto;
	transition: all 350ms ease-out;
	-webkit-transition: all 350ms ease-out;
}
.page1 .item .row{
	transition: all 450ms ease-out;
	-webkit-transition:all 450ms ease-out;
}
.page1 .item .row:hover figcaption{
	color: #ff5912;
}
.page1 .item .row:hover img{
	height: 90px;
	width: auto;
	transition: all 250ms;
	-webkit-transition:all 250ms ease-out;
}
.page1 .item .row:hover .price{
	margin-bottom: 0px;
	opacity: 0;
	height: 0px;
}
.page1 .color span{
	cursor: pointer;
	width: 10px;
	height: 10px;
	border-radius: 100%;
    display: inline-block;
}

/*page2*/
.products-page2{
	width: 100%;
	height: 650px;
	background-color: #e4e4e7;
	background-image: url("../images/11.png");
	background-repeat: no-repeat;
	background-position: right;
}
.products-page2 .item-page2{
	width: 1170px;

}
.products-page2 .item-page2 .row1{
	width: 8px;
	margin-left: 60px;
	float: left;
}
.products-page2 .item-page2 .row1 .line1-page2{
	width: 8px;
	height: 15px;
	margin-top: 250px;
	background-color: white;
}
.products-page2 .item-page2 .row1 .line-page2{
    width: 8px;
    margin-top: 10px;
	height: 30px;
	background-color:#ff5912 ;
}
.products-page2 .item-page2 .row1 .line2-page2{
	width: 8px;
	height: 15px;
	margin-top: 10px;
	background-color: white;
}
.row2{
 	width: 50%;
 	float: left;
}
.row2 .text1{
	width:100%;
	height: 190px;
	margin-top: 190px;
	margin-left: 80px;
	text-align: left !important;
}
.row2 .text1 .kit{
	font-size: 52px;
	font-weight: 700;
	color: #ff5912;
}
.row2 .text1 .vanban1{
	font-size: 18px;
	font-weight: 400;
	color: #3c4751;
	margin-top: 15px;
	margin-bottom: 10px; 
}
.row2 .text1 .vanban{
	font-size: 16px;
	color: #495662;
	font-weight: 300;
}
.row2 .text1 .shop-page2{
	margin-top: 50px;
}
.row2 .text1 .shop-page2 .tien2{
	font-size: 16px;
	font-weight: 700;
}
.row2 .text1 .shop-page2 .fa.fa-shopping-cart{
	margin-left: 35px;
	color: #ff5912;
}
.row2 .text1 .shop-page2 .Order1{
	margin-left: 5px;
	color: #ff5912;
	background-color: #e3e3e7;
	border:none;
}
.bacham{
	width: 100%;
	margin: 0 auto;
}
.bacham .edit-key1{
	position: relative;
	width: 1170px;
	height: 60px;
	margin: 0 auto;
	background-color: white;
	margin-top: 120px;
}
.bacham .edit-key1 .edit{
	position: absolute;
	margin-top: 19px;
	margin-left: 550px;
}
.bacham .edit-key1 .edit1{
	display: inline-block;
	width: 13px;
	height: 13px;
	border-radius: 100%;
	background-color: #ff5912;
	margin-left: 10px;
}
.products4{
	width: 100%;
	margin: 0 auto;
	margin-top: 100px;
}
.products4 .menu4 {
	margin: 0 auto;
	width: 1170px;
	height: 100px;
}
.products4 .menu4 .sale{
	position: relative;
	width: 620px;
	height: 85px;
	padding-left: 50px;
	padding-top: 15px;
	float: left;
	background-color: white;

}
.products4 .menu4 .adv{
	width: 470px;
	height: 100px;
	float: right;
	text-align: center;
	background-color: white;
}
.products4 .menu4 .sale .sale1{
	position: absolute;
	width: 60px;
	height: 70px;
	background-color: #ff5912;
	transform: rotate(45deg);
	z-index: 1;
}
.products4 .menu4 .sale .sale2{
	position: absolute;
	width: 60px;
	height: 70px;
	background-color: #ff9060;
	transform: rotate(-45deg);
	z-index: 0;
}
.products4 .menu4 .sale .tieude{
	position: absolute;
	z-index: 2;
}
.products4 .menu4 .sale .tieude .tieude1{
	display: block;
	font-size: 12px;
	font-weight: 600;
	margin-left: 20px;
	margin-top: 10px;
	color: white;
}
.products4 .menu4 .sale .tieude .tieude2{
	margin-top: 5px;
	color: white;
	margin-left: 13px;
	font-size: 18px;
	font-weight: 600;
	display: block;
}
.products4 .menu4 .sale .salo{
	margin-left: 150px;
	margin-top: 10px;
	float: left;
}
.products4 .menu4 .sale .salo .full-kit{
	font-size: 22px;
	font-weight: 600;
	color: #34404b;
}
.products4 .menu4 .sale .salo .half{
	font-size: 13px;
	margin-top: 15px;
	color: #495662;
	font-weight: 300;
}
.products4 .menu4 .sale .line4{
	height: 70px;
	width: 1px;
	background-color: #f4f6f8;
	float: left;
	margin-left: 50px;
}
.products4 .menu4 .sale .dolla{
	float: left;
	margin: 25px 40px;
}
.products4 .menu4 .sale .fa-shopping-cart{
	color: #ff5912;
}
.products4 .menu4 .sale .tien4{
	font-size: 25px;
	font-weight: 700;
	color: #ff5912;
	margin-left: 15px;
}
.products4 .menu4 .sale .dolla1{
	color: #ff5912;
}
.products4 .menu4 .adv .logi{
	margin-top: 25px;
}
.products4 .menu4 .adv .logi .adv1{
	font-size: 16px;
	font-weight: 400;
	color: #34404b;
}
.products4 .menu4 .adv .logi .area{
	font-size: 16px;
	font-weight: 400;
	color: #ff5912;
}
.products4 .menu4 .adv .bachthu{
	font-size: 15px;
	font-weight: 400;
	margin-top: 10px;
	color: #e7e8e9;
}
.products4 .menu4 .adv .bachthu .bachthu1{
	margin-left: 10px;
}
.products3 .menu3 .best-sale {
	width: 1170px;
}
.products3 .menu3 .best-sale .item2{
	margin-top: 100px;
	float: left;
	width: calc(100% / 3 - 30px);
	height: 160px;
	overflow: hidden;
	background-color: white;
}
.products3 .menu3 .best-sale .item2 .anh-page2{
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}
.products3 .menu3 .best-sale .item2 .line5{
	width: 1px;
	height: 70px;
	background-color: #f4f6f8;
  	float:left;
  	margin-top: 40px;
  	margin-left: 20px; 
}
.products3 .menu3 .best-sale .item2 .Rebook{
	margin-top: 50px;
	margin-left: 30px;
	float: left;
}
.products3 .menu3 .best-sale .item2 .Rebook .jacket{
	font-size: 18px;
	font-weight: 600;
	color: #34404b;
}
.products3 .menu3 .best-sale .item2 .Rebook .sao{
	margin-top: 30px;
	margin-left: -15px;
	margin-bottom: 50px;
	transition: all 550ms;
}
.products3 .menu3 .best-sale .item2 .Rebook .sao .fa{
	color: #ff5912;
}
.products3 .menu3 .best-sale .item2 .Rebook .sao .sao1{
	margin-left: 80px;
	font-size: 16px;
	font-weight: 400;
	color: #ff5912;
}
.products3 .menu3 .best-sale .item2 .Rebook .add{
	color: #ff5912;
}
.products3 .menu3 .best-sale .item2 .Rebook .add .fa{
	color: #ff5912;
	margin-left: 35px;
}
.products3 .menu3 .best-sale .item2:hover .sao{
	opacity: 0;
	z-index: -1;
	margin-bottom: 0px;
	opacity: 0;
	height: 0px;
	transition: all 450ms;
}
/*page3*/
.section5{
	width: 100%;
	margin: 0 auto;
}
.container5{
	width: 800px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 80px;
}
.container5 .row5{
	width: 100%;
}
.container5 .row5 .products5{
	padding: 10px;
}
.container5 .row5 .products5 .fa.fa-user-circle{
	width: 215px;
	font-size: 194px;
}
.container5 .row5 .products5 .form-group input{
	width: 84%;
	border-radius: 9px;
	border: 1px solid #7b7b7b;
	height: 55px;
	font-size: 18px;
    font-weight: 600;
    padding-left: 17px;
}
.container5 .row5 .products5 .ten{
	font-size: 30px;
	margin-top: 20px;
	float: left;
	padding-left: 60px;
	color: #7b7b7b;
}
.container5 .row5 .products5 .chon{
	font-size: 25px;
	color: #7b7b7b;
}
.container5 .row5 .products5 .chon.dongy{
	margin-top: 30px;
	margin-bottom: 7px;
}
.container5 .row5 .products5 .dangnhap{
	margin-top: 50px;
    margin-bottom: 20px;

}
.container5 .row5 .products5 .dangnhap button{
	width: 20%;
    height: 60px;
    font-size: 21px;
    background-image: linear-gradient(to right, #3c49a7, #2d87c8);
    color: white;
    border-radius: 10px;
}
.container5 .row5 .products5 .trolai{
	font-size: 20px;
    color: #334b91;
}
.container5 .row5 .products5 .chon .hinder1{
	width: 19px;
	height: 17px;
}


