/*====================================================================================================================================*/
@media only screen and (max-width: 899px) and (min-width: 768px){
	
	body{
		background: #f4f6f8; 
	}

	.container {
		width: 738px;
	}

	/*Header bottom ẩn menu*/
	.water2{
		display: none;
	}
	.fa.fa-bars{
		display: none;
	}
	/*Menu trai*/
	.menu{
		float: left;
		width: 23%;
		font-family: 'Lato', san-serif
	}
	.menu .type{
		float: left;
		width: calc(100% - 20px);
		padding-left: 30px;
		margin-bottom: 15px
	}
	.menu .type span:hover{
		color: #ff5912;
		cursor: pointer
	}
	.menu .filter{
		float: left;
		width: calc(100% - 20px);
		padding-left: 30px;
		margin-bottom: 15px
	}
	.menu .filter .range input{
	    width: 23%;
	    margin: 0 2px;
	}
	.menu .check{
		float: left;
		width: calc(100% - 20px);
		padding-left: 30px;
		margin-bottom: 15px
	}
	.menu .check p{
		line-height: 2.5
	}
	.menu .check label{
		font-size: 12px;
		font-weight: 600;
		cursor: pointer
	}
	.menu .check label:before{
		content: " ";
		width: 6px;
		height: 6px;
		border:5px solid #edf0f2;
		background: #edf0f2;
		display: inline-block;
		margin-right: 15px
	}


	/*khi input checked thì lấy thuộc tính input thêm vào label*/
	/*Chữ ko vàng*/
	.menu .check input[type="checkbox"]:checked + label {   
	    color: #ff5912
	}
	/*Chữ vàng nhưng checkbox ko đc check*/
	.menu .check input[type="checkbox"]:checked + label:before {
	    border:5px solid #ff5912
	}
	.main{
		font-size: 14px;
		font-weight: 900;
		line-height: 2.5;
		color: #ff7013;
	}
	.medium{
		font-size: 12px;
		font-weight: 700;
		line-height: 2.5;
	}
	.small{
		font-size: 10px;
		font-weight: 600;
		line-height: 2.5;
	}


	.products{
		float: right;
	    width: 77%;
	    margin-bottom: 120px;}

    .products .rows{
		margin-left: -11px;	
		margin-right: -11px;
	}

	.products .rows .item{
		float: left;
		text-align: center;
		padding: 0 11px;
		height: 240px;
		position: relative;
		transition: width 800ms ease-out;
		-webkit-transition: width 800ms ease-out;
	}

	.width_p3{
		width: calc(100% / 3);		/*trang co row 3*/
	}

	.width_p4{
		width: calc(100% / 4);		/*trang co row 4*/
	}

	.products .rows .item .item-content{
		/*background: #fff;
		float:left;
		width: 100%;
		height: calc(100% - 40px);
		padding-top: 20px;
		padding-bottom: 20px;
		overflow: hidden;
		/*animation-name: example;
	    animation-duration: 20s;
	    animation-iteration-count: infinite;*/
	    background: #fff;
		float: left;
		width: 100%;
		height: 100%;
		padding-top: 14px;
		padding-bottom: 14px;
		overflow: hidden;
		animation-name: example;
		animation-duration: 20s;
		animation-iteration-count: infinite;
		text-align: center;
		padding: 14px 10.5px 10.5px 14px;
	}

	.products .rows .item figcaption{
		font-size: 14px;
		font-weight: 600;
		line-height: 38px;
	}
	.products .rows .item .sizes-icon{
		/*font-size: 14px;
		font-weight: 400;*/
		line-height: 40px;
		
	}
	.products .rows .item:hover .imgsrc{
		height: 49px;
		width: auto;
		
	}
	.products .rows .item .imgsrc{
		height: 150px;
		width: auto;
		transition: all 400ms ease-out ;
		-webkit-transition: all 400ms ease-out;
	}
	.products .rows .item:hover .price-box{
		opacity: 0;
		height: 0;
		display: none;
		
		
	}
	.price-box{
		margin-bottom: 40px;
		transition: all 800ms ease-out;
		-webkit-transition: all 800ms ease-out;
	}
	.products .rows .item .show{
		opacity: 1;
	}
	/*.products .rows .item figcaption:hover{
		color: red;
	}*/
	.products .rows .item .show-hover{
		position: absolute;
		opacity: 0;
		top:20px;
		left:20px;
		width: 70%;
		transition: all 800ms ease-out;
		-webkit-transition:all 800ms ease-out;
	}
	/*.products .rows .item:hover .show-hover{
		opacity: 1;
	}
	.products .rows .item:hover .show{
		opacity: 0;
	}*/
	.products .rows .item .price{
		font-size: 14px;
		font-weight: 600;
		color: #ff5912;
	}

	.icon{
		padding: 12px 7px 3px 7px
	}
	.color-icon{
		padding: 14px 1px 21px 1px
	}


	.products .pagenext{
		float: right;
		width: 100%;
		text-align: center;
		height: 40px;
	}
	.products .pagenext .pagesymbol{
		padding: 15px 3px;
	}
	.products .pagenext img{
		width: 13px;
		height: auto;
	}



	/*New letter*/
	.submit-bar{
		display: inline-block;
		width: 100%;
		height: 123px;
		background: #fff;
	}
	.submit-bar .head{
		width: 16%;
		padding-left: 2.7%;
		font-size: 18px;
		font-weight: 900;
		line-height: 120px;
		color: #ff5912;
	}
	.submit-bar .description{
		width: 44%;
		padding-left: 1.7%;
		font-size: 14px;
		font-weight: 600;
		font-style: italic;
		line-height: 120px;
		color: #34404b;
	}
	.submit-bar .iconmain{
		padding-left: 5%;
	}

	.submit-bar .sendmail.input{
		width: 20%;
		border: none;
		padding-left: 10px;
		font-size: 14px;
		font-weight: 400;
		font-style: italic;
		line-height: 30px;
		color: #7c8791;
	}
	.submit-bar .join{
		width: 100px;
	    margin: 36px 12px auto auto;
	    padding: 17px 22px;
	    background-color: #ff5912;
	    font-size: 14px;
	    font-weight: 600;
	    color: #fff;
	    border: none;
	    float: right;
	}
	.submit-bar .join:hover{
		cursor: pointer;
	}


	/*Footer*/
	.footer{
		float: left;
		width: 100%;
		height: 200px;
		font-size: 14px;
		margin-top: 80px
	}
	.footer .logo{
		padding-top: 50px;
		width: 34.2%;
		height: 160px;
		float: left;
	}
	.footer .list{
		list-style-type: none;
		padding-top: 40px;
		width: 17.1%;
		height: 170px;
		line-height: 35px;
		font-size: 14px;
		font-weight: 400;
		float: left;

	}
	.footer .list li{
		list-style-type: none;
		
	}

	.footer a:hover{
		color: red;
		cursor: pointer;
	}
	.footer .payment{
		padding-top: 45px;
		/*width: 170px;*/
		width: calc(100% - 85.5%);
		height: 165px;
		font-size: 16px;
		font-weight: 600;
		color: #ff5912;
		float: left;
	}
	.footer .payment img{
		
		width: 100%;
		height: auto;
		
	}

	/*Sign Up*/
	.signup{
		width: 55%;
		text-align: center;
		margin: 0 auto;
	}
	.signup .fa-user-circle{
	    font-size: 100px;
	    padding: 22px;
	}
	.signup label{
		float: left;
		color: #7b7b7b;
		font-size: 20px;	/*tablet*/
	}
	.signup label.checkcustom{
		font-size: 16px;

	}
	
	.signup input{
		border: 2px solid #9d9d9d;
		border-radius: 5px;
		width: 100%;
		height: 45px;
		font-size: 20px;	/*tablet*/
	}

	.signup .checkcustom {
	    display: block;
	    position: relative;
	    padding-left: 35px;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}

	/* Hide the browser's default checkbox */
	.signup .checkcustom input {
	    position: absolute;
	    opacity: 0;
	    cursor: pointer;
	    height: 0;
	    width: 0;
	}

	/* Create a custom checkbox */
	.signup .checkmark {
	    position: absolute;
	    top: 2px;
	    left: 0;
	    height: 18px;
	    width: 18px;
	    border-radius: 100%;
	    border :2px solid #5ea2eb;
	    background-color: #fff;
	}

	/* On mouse-over, add a grey background color */
	.signup .checkcustom:hover input ~ .checkmark {
	    
	}

	/* When the checkbox is checked, add a blue background */
	.signup .checkcustom input:checked ~ .checkmark {
		position: absolute;
	    top: 2px;
	    left: 2px;
		height: 14px;
	    width: 14px;
	    border-radius: 100%;
	    background-color: #1860ad;
	    border :2px solid #5ea2eb;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.signup .checkmark:after {
	    content: "";
	    position: absolute;
	    display: block;
	}

	/* Show the checkmark when checked */
	.signup .checkcustom input:checked ~ .checkmark:after {
	    display: block;
	}

	/* Style the checkmark/indicator */
	.signup .checkcustom .checkmark:after {
	    display: none;
	    
	}
	.signup .submit {
	    width: 30%;
	    height: 60px;
	    border: none;
	    border-radius: 7px;
	    background-image: linear-gradient(to right, #3d46a6, #2c8aca);
	    color: #fff;
	}
	.signup .submit:hover {
	    cursor: pointer;
	}
	.signup a{
	    color: #334b91;
	    text-decoration-line: none;
	}
	
	.signup .error {
		float: right;
	    color: red;
	    display: none;
	    font-size: 14px;
	}
	.signup .error_pass {
		float: right;
	    color: red;
	    display: none;
	    font-size: 14px;
	}


	/*Details Full Winter kit*/

	.details{
		width: 100%;
	    height: 540px;
	    background: #fff;
	}

	.details .productf{
	    float: left;
	    text-align: center;
	    padding: 104px 1.7% 136px 2%;
	    height: 100%;
	    width: 38%;
	}
	.details .productf img.main{
		width: 40%;
    	margin-bottom: 16px;
	}
	.details .productf img.sub{
		width: 80%
	}
	.details .description{
        float: left;
	    text-align: left;
	    height: 202px;
	    margin-top: 90px;
	    margin-bottom: 13px;
	    width: 60%;
	}
	.details .description .title{
	    margin: auto auto 15px auto;
	    font-size: 38px;
	    font-weight: 900;
	    color: #ff5912;
	}
	.details .description .title-sub{
	    margin-bottom: 20px;
	    font-size: 14px;
	    font-weight: 600;
	    color: #3c4751;
	}
	.details .description .desc{
	    line-height: 1.5;
	    font-size: 14px;
	    color: #495662;
	}
	.details .choos{
	    float: left;
	    font-size: 14px;
	    font-weight: 600;
	    height: 76px;
	    width: 57%;
	    border-top: 1px solid #f4f6f8;
	    border-bottom: 1px solid #f4f6f8;

	}
	.details .choos .choos1{
        margin-top: 28px;
    	display: inline-block;
	}
	.details .choos .choos2{
		margin-top: 28px
	}
	.details .choos .choos1 .size{
		font-size: 16px;
		font-weight: 600;
	}

	.details .choos .choos1 .size:hover{
		font-size: 16px;
		font-weight: 600;
		cursor: pointer;
		color: #ff5912
	}
	.details .choos input{
		text-align: center;
	    border: none;
	    width: 40px;
	    height: 20px;
	    line-height: 30px;
	    font-size: 15px;
	    font-weight: 600;
	    color: #ff5912;
	}
	.details .order{
        float: left;
	    line-height: 50px;
	    width: 58.6%;
	    margin-top: 14px;
	}
	.details .order .price{
		float: left;
	    font-size: 15px;
	    font-weight: 900;
	    color: #000;
	}
	.details .order .icon1{
        width: 68%;
	    display: inline-block;
	    float: left;
	}
	.details .order .icon1 .fa{
		font-size: 20px;
	    padding: 15px 2%;
	    float: right;
	}
	.details .order .submit{
        float: left;
	    width: 117px;
	    height: 44px;
	    background-color: #ff5912;
	    border-radius: 25px 25px;
	    font-size: 16px;
	    font-weight: 600;
	    color: #fff;
	    margin-left: 4%;
	}
	.details .order .submit:hover{
		cursor: pointer;
	}


	/*HomePage*/

	/*Slide*/
	.slide{
		background-image: url("../img/slide.png");
		background-size: cover;
		width: auto;
		height: 500px;
		position: relative
	}
	.slide .scroll{
		float: left;
		height: 188px;
		width: 100px;
		padding-left: 90px;
		padding-top: 180px 
	}
	.slide .scroll .dot1{
		float: left;
		height: 17px;
		width: 10px;
		border-radius: 4px;
		background-color: #fff;
	}
	.slide .scroll .dot2{
		float: left;
		height: 36px;
		width: 10px;
		border-radius: 4px;
		background-color: #ff5912;
	}
	.slide .text{
		float: left;
		height: 188px;
		margin-left: 7%;
		padding-top: 150px 
	}
	.slide .text .tittle{
		float: left;
		color: #ff5912;
		font-weight: 900;
		font-size: 40px
	}
	.slide .text .pack{
		float: left;
		color: #3c4751;
		font-weight: 400;
		font-size: 16px
	}
	.slide .text .description{
		float: left;
		color: #495662;
		font-weight: 300;
		font-size: 14px
	}


	/*Page*/
	.page {
		text-align: center;
		width: 100%;
		height: 50px
	}
	.page .node{
		width: 8px;
		height: 8px;
		border-radius: 100%;
		background-color: #ff5912;
		margin-top: 22px;
		display: inline-block;
	}


	#section-tittle1{
		color: #ff5912;
		font-weight: 900;
		font-size: 30px
	}
	#section-tittle2{
		color: #34404b;
		font-weight: 900;
		font-size: 30px
	}
	#section-description{
		padding-top: 40px;
		color: #34404b;
		font-size: 14px
	}


	/*phần best sale và new Arrive*/
	.related{
		text-align: center;
		padding-top: 90px;
		padding-bottom: 63px;
	}

	/*Sale & adv*/

	.sale_adv {
		float: left;
		height: 100px;
		width: 100%
	}
	.sale_adv .sale {
		float: left;
		width: 57.26%;
		margin-right: 1.3%
	}
	.sale_adv .sale .logo {
		float: left;
		text-align: center;
		width: 26%
	}
	.sale_adv .sale .description {
		float: left;
		width: 44.77%
	}
	.sale_adv .sale .price {
		float: left;
		text-align: center;
		width: 26%;
	}

	.sale_adv .adv {
		float: left;
		text-align: center;
		width: 40.14%;
		height: 100px;
		margin-left: 1.3%
	}

	/*Best Sales*/
	.best_sale{
		margin-left: 0;
		margin-right: 0;
	}

	.best_sale .item{
		float: left;
		margin: 0px 1.1%;
		height: 120px;
		width: 30.8%;
	}

	.best_sale .item .thumb{
		float: left;
		padding: 28px 5% 0 5%;
		width: 46%
	}
	.best_sale .item img.thumb{
		
		width: 35%;
		height: auto;
	}

	.best_sale .item .caption{
		float: left;
		text-align: center;
		padding: 30px 4% 0 0

	}
	.best_sale .item .caption .name{
		float: left;
		color: #34404b;
		font-weight: 600;
		font-size: 15px
	}
	.best_sale .item .caption .pk1 span{
		color: #ff5912;
	}
	.best_sale .item .caption .pk1 .star-box{
		width: 70px;
		height: 18px;

		background-image: url(../img/rate_one1.png);
		background-repeat: repeat-x;
		background-size: 14px 14px;
	}
	.best_sale .item .caption .pk1 .star-box .star-rate{
		height: 18px;

		background-image: url(../img/rate_one.png);
		background-repeat: repeat-x;
		background-size: 14px 14px;
		width: 87%;
	}
	.best_sale .item .caption .pk2{
		display: none;
		font-size: 14px

	}
	.best_sale .item:hover .caption .pk1 .star-box{
		display: none;
		cursor: pointer;

	}
	.best_sale .item:hover .caption .pk1 span{
		display: none;
		cursor: pointer;

	}
	.best_sale .item:hover .caption .pk2{
		display: block;

	}
	.best_sale .item .caption .pk2 a:hover{
		color: #ff5912;				/*================================================================================*/
	}

	
}







	/*Modify text-center*/
	.t-a-c{
		text-align: center;
	}
	
	/*Modify Width*/
	.width100 {
		width: 100%
	}
	.width50 {
		width: 50%
	}
	.width45 {
		width: 45%
	}


	/*Modify Margin*/
	.m-t-0{
		margin-top: 0
	}
	.m-t-10{
		margin-top: 10px;
	}
	.m-t-28{
		margin-top: 28px;
	}
	.m-t-30{
		margin-top: 30px;
	}
	.m-t-40{
		margin-top: 40px;
	}
	.m-t-50{
		margin-top: 50px;
	}
	.m-t-85{
		margin-top: 85px;
	}
	.m-t-100{
		margin-top: 100px;
	}
	.m-t-120{
		margin-top: 120px;
	}
	.m-t-230{
		margin-top: 230px;
	}

	.m-b-0{
		margin-bottom: 0
	}
	.m-b-10{
		margin-bottom: 10px;
	}
	.m-b-30{
		margin-bottom: 30px;
	}
	.m-b-50{
		margin-bottom: 50px;
	}
	.m-b-80{
		margin-bottom: 80px;
	}
	.m-b-118{
		margin-bottom: 118px;
	}

	.m-l-0{ margin-left: 0 }
	.m-l-3{ margin-left: 3px }
	.m-l-15{ margin-left: 15px }
	.m-l-20{ margin-left: 20px }

	.m-r-3{ margin-right: 0 }
	.m-r-3{ margin-right: 3px }
	.m-r-15{ margin-right: 15px }
	.m-r-160{ margin-right: 160px }
	.m-r-240{ margin-right: 240px }
	.m-r-260{ margin-right: 260px }

	/*Modify padding*/
	.p-b-30{
		padding-bottom: 30px;
	}
	.p-r-15{ padding-right: 15px }
	.p-l-15{ padding-left: 15px }
	.p-t-10{ padding-top: 10px }
	.p-t-23{ padding-top: 23px }
	.p-t-33{ padding-top: 33px }
	.p-t-100{ padding-top: 100px }
	.p-t-150{ padding-top: 150px }
	.p-t-230{ padding-top: 230px }

	/*Modify Float*/
	.fl-left{
		float: left
	}
	.fl-right{
		float: right
	}

	/*Modify backgroud*/
	.bg-white{
		background: #fff;
	}

	/*Modify border*/
	.b-t-1{
		border-top: 1px solid #f4f6f8
	}
	.b-n{
		border: none;
	}

	/*Modify Font-size*/
	.f-s-12{ font-size: 12px }
	.f-s-16{ font-size: 16px }
	.f-s-18{ font-size: 18px }
	.f-s-18{ font-size: 18px }
	.f-s-22{ font-size: 22px }
	.f-s-28{ font-size: 28px }
	.f-s-30{ font-size: 30px }
	.f-s-32{ font-size: 32px }
	.f-s-36{ font-size: 36px }
	.f-s-40{ font-size: 40px }
	.f-s-45{ font-size: 45px }
	.f-s-52{ font-size: 52px }

	/*Modify font-weight*/
	.f-w-100{ font-weight: 100 }
	.f-w-200{ font-weight: 200 }
	.f-w-300{ font-weight: 300 }
	.f-w-400{ font-weight: 400 }
	.f-w-500{ font-weight: 500 }
	.f-w-600{ font-weight: 600 }
	.f-w-700{ font-weight: 700 }
	.f-w-800{ font-weight: 800 }
	.f-w-900{ font-weight: 900 }
