

@media only screen and  (max-width: 767px){
	body{
		/*background: #282923;*/
		color: #34404b;
	}
	
	.section.m-b-80{
		margin-bottom: 0
	}
	.section.m-b-118{
		margin-bottom: 60px
	}
	.section.m-t-120{
		margin-top: 50px
	}
	.section.m-t-118{
		margin-top: 60px
	}


	.container {
		width: 90%;
	}
	

	/*Header*/
	.header-top{
		display: none;
	}

	.header-bottom{
		width: 100%;
		height: 90px;
		font-size: 16px;
		line-height: 100px;
		text-align: center;
		border-bottom: 1px solid #f4f6f8;
	}
	#logo{
		text-align: center
	}
	.header-bottom i{
		
		/*float: left;*/
	}
	.header-bottom .fa-search{
		display: none;
	}
	.header-bottom .fa-user-o{
		display: none;
	}
	div.fl-left{
	    margin-left: 0%;
	    margin-top: 7px;
	    width: 40%;
	    height: 83px;
	}
	div.fl-right {
		width: 25%;
		height: auto;
	}
	
	.header-bottom span{
		display: none;
	}

	/*Menu trai*/
	.menu{
		display: none;
	}

	/*Menu mới*/
	.menu_an{
		width: 30%
	}
	.water2 {
		margin-bottom: 3px;
		display: none;
	}
	.water2 .bien2 .ics{
		float: right;
		list-style: none;
	}
	.water2 .bien2 .ic{
	    width: 100%;
	    padding-left: 26px;
	    font-size: 16px;
	    padding-top: 90px;
	    color: #34404b;
	    height: 33px;
	    background-color: white;
	    border-top: 1px solid #f4f6f8;
	}
	.header-bottom .fa.fa-bars{
		display: block;
        padding-top: 34px;
	    width: 43px;
	    height: 40px;
	    float: left;
	    color: #34404b;
	    font-size: 20px;
	}
	
	
/*
	.close-sidebar {
	    text-align: left;
	    padding: 10px 15px 0px;
	    color: #000;
	    display: none;
	}
	.navigation-menu .main-menu .content-menu.active {
	    transform: translate(0px, 0px);
	    box-shadow: 0px 2px 7px 55px rgba(0, 0, 0, 0.5);
	}
	.navigation-menu .main-menu .content-menu {
	    position: fixed;
	    top: 0px;
	    left: 0px;
	    margin: 0px;
	    transition: all ease-out .3s;
	    transform: translate(-110%, 0);
	    z-index: 999;
	    width: 90%;
	    border-bottom: 1px solid #eeeeee;
	    overflow: hidden;
	    overflow-y: auto;
	    height: 100%;
	}
	.navigation-menu .collapse-mobile a.navbar-toggle {
	    font-size: 28px;
	    cursor: pointer;
	}
	.header-bottom .collapse-mobile {
		display: block;
		width: 5%;
		float: left;
	}*/

	.products{
		float: right;
	    width: 100%;
	    margin-bottom: 20px;
	}

    .products .rows{
		margin-left: -11px;	
		margin-right: -11px;
	}

	.products .rows .item{
		float: left;
		width: 100%;
		text-align: center;
		padding: 0 20px;
		margin-bottom: 30px;
		height: 240px;
		position: relative;
		transition: width 800ms ease-out;
		-webkit-transition: width 800ms ease-out;
	}

	.products .rows .item .item-content{
		/*background: #fff;
		float:left;
		width: 100%;
		height: calc(100% - 40px);
		padding-top: 20px;
		padding-bottom: 20px;
		overflow: hidden;
		/*animation-name: example;
	    animation-duration: 20s;
	    animation-iteration-count: infinite;*/
	    background: #fff;
		float: left;
		width: 100%;
		height: 100%;
		padding-top: 14px;
		padding-bottom: 14px;
		overflow: hidden;
		animation-name: example;
		animation-duration: 20s;
		animation-iteration-count: infinite;
		text-align: center;
		padding: 14px 10.5px 10.5px 14px;
	}

	.products .rows .item figcaption{
		font-size: 14px;
		font-weight: 600;
		line-height: 38px;
	}
	.products .rows .item .sizes-icon{
		/*font-size: 14px;
		font-weight: 400;*/
		line-height: 40px;
		
	}
	.products .rows .item:hover .imgsrc{
		height: 49px;
		width: auto;
		
	}
	.products .rows .item .imgsrc{
		height: 150px;
		width: auto;
		transition: all 400ms ease-out ;
		-webkit-transition: all 400ms ease-out;
	}
	.products .rows .item:hover .price-box{
		opacity: 0;
		height: 0;
		display: none;
		
		
	}
	.price-box{
		margin-bottom: 40px;
		transition: all 800ms ease-out;
		-webkit-transition: all 800ms ease-out;
	}
	.products .rows .item .show{
		opacity: 1;
	}
	/*.products .rows .item figcaption:hover{
		color: red;
	}*/
	.products .rows .item .show-hover{
		position: absolute;
		opacity: 0;
		top:20px;
		left:20px;
		width: 70%;
		transition: all 800ms ease-out;
		-webkit-transition:all 800ms ease-out;
	}
	/*.products .rows .item:hover .show-hover{
		opacity: 1;
	}
	.products .rows .item:hover .show{
		opacity: 0;
	}*/
	.products .rows .item .price{
		font-size: 14px;
		font-weight: 600;
		color: #ff5912;
	}

	.icon{
		padding: 12px 7px 3px 7px
	}
	.color-icon{
		padding: 14px 1px 21px 1px
	}


	.products .pagenext{
		display: none;
		float: right;
		width: 100%;
		text-align: center;
		height: 60px;
	}
	.products .pagenext .pagesymbol{
		padding: 25px 3px;
	}



	/*new letter*/
	.submit-bar{
		width: 100%;
		height: 160px;
		background: #fff;
	}
	.submit-bar .head{
	    width: 100%;
	    padding-top: 10px;
	    /* padding-left: 0.7%; */
	    font-size: 17px;
	    font-weight: 900;
	    line-height: 32px;
	    color: #ff5912;
	    display: block;
	    text-align: center;
	}
	.submit-bar .description{
	    display: block;
	    width: 100%;
	    padding-left: 1.7%;
	    font-size: 14px;
	    font-weight: 600;
	    font-style: italic;
	    line-height: 26px;
	    color: #34404b;
	    text-align: center;
	}
	.submit-bar .iconmain{
	    padding-left: 11%;
	    width: auto;
	    padding-top: 30px;
	}

	.submit-bar .sendmail.input{
		width: 45%;
		border: none;
		padding-left: 10px;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
		line-height: 30px;
		color: #7c8791;
	}
	.submit-bar .join{
		width: 25%;
	    margin: 5% 16px auto auto;
	    padding: 17px 22px;
	    background-color: #ff5912;
	    /* border-radius: 30%; */
	    font-size: 13px;
	    font-weight: 600;
	    color: #fff;
	    border: none;
	    float: right;
	}
	.submit-bar .join:hover{
		cursor: pointer;
	}

	/*Details Full Winter kit*/

	.details{
		width: 100%;
	    height: 755px;
	    background: #fff;
	}

	.details .productf{
	    float: left;
	    text-align: center;
	    padding: 49px 1.7% 57px 2%;
	    width: 100%;
	    height: 473px;
	}
	.details .productf img.main{
	    width: 28%;
    	margin-bottom: 16px;
	}
	.details .productf img.sub{
		width: 70%
	}
	.details .description{
	    text-align: center;
	    height: 193px;
	    margin-top: 0px;
	    margin-bottom: 13px;
	    width: 100%;
	}
	.details .description .title{
        margin: auto auto 15px auto;
	    font-size: 33px;
	    font-weight: 900;
	    color: #ff5912;
	}
	.details .description .title-sub{
	    margin-bottom: 20px;
	    font-size: 14px;
	    font-weight: 600;
	    color: #3c4751;
	}
	.details .description .desc{
	    line-height: 1.5;
	    font-size: 14px;
	    color: #495662;
	}
	.details .choos{
        float: left;
	    font-size: 16px;
	    font-weight: 600;
	    height: 75px;
	    width: 100%;
	    border-top: 1px solid #f4f6f8;
	    border-bottom: 1px solid #f4f6f8;
	}
	
	.details .choos .choos1{
        margin-top: 18px;
	    display: inline-block;
	    width: 100%;
	    text-align: center;
	    height: 18px;
	}
	.details .choos .choos2{
		margin-top: 7px;
	    width: 100%;
	    text-align: center;
	}
	.details .choos .choos1 .size{
		font-size: 16px;
		font-weight: 600;
	}

	.details .choos .choos1 .size:hover{
		font-size: 16px;
		font-weight: 600;
		cursor: pointer;
		color: #ff5912
	}
	.details .choos input{
		text-align: center;
	    border: none;
	    width: 40px;
	    height: 20px;
	    line-height: 30px;
	    font-size: 15px;
	    font-weight: 600;
	    color: #ff5912;
	}
	.details .order{
        float: left;
	    line-height: 50px;
	    width: 100%;
	    margin-top: 14px;
	}
	.details .order .price{
		float: left;
	    font-size: 18px;
	    font-weight: 900;
	    color: #000;
	}
	.details .order .icon1{
        width: 58%;
	    display: inline-block;
	    float: left;
	}
	.details .order .icon1 .fa{
		font-size: 18px;
	    padding: 15px 2%;
	    float: right;
	}
	.details .order .submit{
        float: left;
	    width: 100px;
	    height: 40px;
	    background-color: #ff5912;
	    border-radius: 20px 20px;
	    font-size: 14px;
	    font-weight: 600;
	    color: #fff;
	    margin-left: 7%;
	    margin-top: 5px;
	}
	.details .order .submit:hover{
		cursor: pointer;
	}

	

	/*Sign Up
	.signup{
		width: 70%;
		text-align: center;
		margin: 0 auto;
	}
	.signup .fa-user-circle{
	    font-size: 70px;
	    padding: 15px;
	}
	.signup label{
		float: left;
		color: #7b7b7b;
		font-size: 16px;	tablet
	}
	.signup label.checkcustom{
		font-size: 13px;
		width: 90%
	}
	
	.signup input{
		border: 2px solid #9d9d9d;
		border-radius: 5px;
		width: 100%;
		height: 45px;
		font-size: 16px;	tablet
	}

	.signup .checkcustom {
	    display: block;
	    position: relative;
	    padding-left: 35px;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}

	Hide the browser's default checkbox
	.signup .checkcustom input {
	    position: absolute;
	    opacity: 0;
	    cursor: pointer;
	    height: 0;
	    width: 0;
	}

	Create a custom checkbox
	.signup .checkmark {
	    position: absolute;
	    top: 2px;
	    left: 0;
	    height: 18px;
	    width: 18px;
	    border-radius: 100%;
	    border :2px solid #5ea2eb;
	    background-color: #fff;
	}

	On mouse-over, add a grey background color
	.signup .checkcustom:hover input ~ .checkmark {
	    
	}

	 When the checkbox is checked, add a blue background
	.signup .checkcustom input:checked ~ .checkmark {
		position: absolute;
	    top: 2px;
	    left: 2px;
		height: 14px;
	    width: 14px;
	    border-radius: 100%;
	    background-color: #1860ad;
	    border :2px solid #5ea2eb;
	}

	Create the checkmark/indicator (hidden when not checked)
	.signup .checkmark:after {
	    content: "";
	    position: absolute;
	    display: block;
	}

	Show the checkmark when checked
	.signup .checkcustom input:checked ~ .checkmark:after {
	    display: block;
	}

	Style the checkmark/indicator
	.signup .checkcustom .checkmark:after {
	    display: none;
	    
	}
	.signup .submit {
	    width: 30%;
	    height: 60px;
	    border: none;
	    border-radius: 7px;
	    background-image: linear-gradient(to right, #3d46a6, #2c8aca);
	    color: #fff;
	}
	.signup .submit:hover {
	    cursor: pointer;
	}
	.signup a{
	    color: #334b91;
	    text-decoration-line: none;
	}
	
	.signup .error {
		float: right;
	    color: red;
	    display: none;
	    font-size: 14px;
	}
	.signup .error_pass {
		float: right;
	    color: red;
	    display: none;
	    font-size: 14px;
	}*/


	/*sign up Cong Anh*/
	.section5{
		width: 90%;
		margin: 0 auto;
	}
	.container5{
		width: 100%;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 80px;
	}
	.container5 .row5{
		width: 100%;
	}
	.container5 .row5 .products5{
		padding: 10px;
	}
	.container5 .row5 .products5 .fa.fa-user-circle{
	    margin-top: 20px;
	    width: 215px;
	    font-size: 80px;
	}
	.container5 .row5 .products5 .form-group input{
		width: 92%;
	    border-radius: 9px;
	    border: 1px solid #7b7b7b;
	    height: 38px;
	    font-size: 14px;
	    font-weight: 600;
	    padding-left: 17px;
	}
	.container5 .row5 .products5 .ten{
        font-size: 20px;
	    margin-top: 20px;
	    margin-bottom: 5px;
	    float: left;
	    padding-left: 20px;
	    color: #7b7b7b;
	}
	.container5 .row5 .products5 .chon{
		font-size: 18px;
		color: #7b7b7b;
	}
	.container5 .row5 .products5 .chon.dongy{
		margin-top: 30px;
		margin-bottom: 7px;
	}
	.container5 .row5 .products5 .dangnhap{
		margin-top: 50px;
	    margin-bottom: 20px;

	}
	.container5 .row5 .products5 .dangnhap button{
	    width: 32%;
    	height: 60px;
	    font-size: 21px;
	    background-image: linear-gradient(to right, #3c49a7, #2d87c8);
	    color: white;
    border-radius: 10px;
	}
	.container5 .row5 .products5 .trolai{
		font-size: 20px;
	    color: #334b91;
	}
	.container5 .row5 .products5 .chon .hinder1{
		width: 19px;
		height: 17px;
	}


	/*HomePage*/

	/*Slide*/
	.slide{
		background-image: url("../img/slide.png");
		background-size: cover;
		width: auto;
		height: 250px;
		position: relative
	}
	.slide .scroll{
		display: none;
	}
	
	.slide .text{
		float: left;
		height: 188px;
		margin-left: 7%;
		padding-top: 30px
	}
	.slide .text .tittle{
		font-size: 35px
	}
	.slide .text .pack{
		
		font-size: 16px
	}
	.slide .text .description{
		
		font-size: 13px
	}

	/*chữ 2 màu*/
	.related{
	    padding-top: 56px;
    	padding-bottom: 39px;
	}

	#section-tittle1{
		font-size: 25px
	}
	#section-tittle2{
		font-size: 25px
	}
	#section-description{
		padding-top: 25px;
		font-size: 14px
	}							


	/*Page*/
	.page {
		text-align: center;
		width: 100%;
		height: 60px
	}
	.page .node{
		width: 8px;
		height: 8px;
		border-radius: 100%;
		background-color: #ff5912;
		display: inline-block;
	}


	/*Sale & adv*/
	.sale_adv {
		float: left;
		height: 200px
	}
	.sale_adv .sale {
		float: left;
		width: 100%;
		height: 100px;
		margin-right: 0;
		border-bottom: 1px solid black;
	}
	.sale_adv .sale .logo {
		float: left;
		text-align: center;
		width: 25%
	}
	.sale_adv .sale .logo img{
		padding-top: 12px;
		width: 60%
	}
	.sale_adv .sale .description {
		float: left;
		width: 50%
	}
	.sale_adv .sale .description span {
		font-size: 15px
	}
	.sale_adv .sale .price {
		text-align: center;
		width: 25%
	}
	.sale_adv .sale .price img{
		
		width: 20%
	}
	.sale_adv .sale .price span{
		font-size: 20px
	}

	.sale_adv .adv {
		float: left;
		text-align: center;
		width: 100%;
		height: 100px;
		margin-left: 0;
	}

	/*Best Sales*/
	.best_sale{
		margin-left: 0;
		margin-right: 0;
	}

	.best_sale .item{
		margin: 0;
    	height: 140px;
	    width: 100%;
	    border-bottom: 1px solid black;		
	}

	.best_sale .item .thumb{
	    padding: 26px 3% 0 6%;
	}

	.best_sale .item .caption{
		
	    padding: 34px 18px 37px 10px;
		width: 58%;

	}
	.best_sale .item .caption .name{
		float: left;
		color: #34404b;
		font-weight: 600
	}
	.best_sale .item .caption .pk1{
		color: #ff5912;

	}
	.best_sale .item .caption .pk1 .star-box{
		width: 60px;
		height: 16px;

		background-image: url(../img/rate_one1.png);
		background-repeat: repeat-x;
		background-size: 12px 12px;
	}
	.best_sale .item .caption .pk1 .star-box .star-rate{
		height: 16px;

		background-image: url(../img/rate_one.png);
		background-repeat: repeat-x;
		background-size: 12px 12px;
		width: 87%;
	}
	.best_sale .item .caption .pk2{
		display: none;

	}
	.best_sale .item:hover .caption .pk1 .star-box{
		display: none;
		cursor: pointer;

	}
	.best_sale .item:hover .caption .pk1 span{
		display: none;
		cursor: pointer;

	}
	.best_sale .item:hover .caption .pk2{
		display: block;

	}
	.best_sale .item .caption .pk2 a:hover{
		color: orange;				/*================================================================================*/
	}

	div.width45{
		padding: 7px 0
	}




	/*Footer*/
	.footer{
		text-align: center;
		width: 100%;
		height: 550px;
		font-size: 12px;
		margin-top: 50px
	}
	.footer .logo{
		padding-top: 20px;
		width: 100%;
		height: 90px;
	}
	.footer .logo img{
		
		width: 30%;
	}
	.footer .list{
		list-style-type: none;
		padding-top: 10px;
		width: 100%;
		height: 110px;
		line-height: 35px;
		font-weight: 400;

	}
	.footer .list li{
		list-style-type: none;
		
	}

	
	.footer .payment{
		text-align: center;
		padding-top: 15px;
		/*width: 170px;*/
		width: 100%;
		height: auto;
		font-size: 16px;
		font-weight: 600;
		color: #ff5912;
	}
	.footer .payment img{
		
		width: 40%;
		height: auto;
		padding-bottom: 5px
		
	}


	/*moile*/

	.footer .mobile{
		display: inline-block;
		width: 100%;
		height: auto;
		border-top: 1px solid #C1C1C1;
	}
	.footer .mobile .email-header{
		padding-top: 10px;
		padding-bottom: 5px
	}
	.footer .mobile .email-header a{
		padding: 0 5px;
		
	}
	.footer .mobile .email-header i{
		color: #FF5912;
		font-size: 15px;
	}
	.footer .mobile .icon-header {
		padding-top: 3px
	}
	.footer .mobile .icon-header a{
		padding: 0 7px;
	}



}


	

	/*Modify text-center*/
	.t-a-c{
		text-align: center;
	}
	
	/*Modify Width*/
	.width100 {
		width: 100%
	}
	.width50 {
		width: 50%
	}
	.width45 {
		width: 45%
	}


	/*Modify Margin*/
	.m-t-0{
		margin-top: 0
	}
	.m-t-10{
		margin-top: 10px;
	}
	.m-t-28{
		margin-top: 28px;
	}
	.m-t-30{
		margin-top: 30px;
	}
	.m-t-40{
		margin-top: 40px;
	}
	.m-t-50{
		margin-top: 50px;
	}
	.m-t-85{
		margin-top: 85px;
	}
	.m-t-100{
		margin-top: 100px;
	}
	.m-t-120{
		margin-top: 120px;
	}
	.m-t-230{
		margin-top: 230px;
	}

	.m-b-0{
		margin-bottom: 0
	}
	.m-b-10{
		margin-bottom: 10px;
	}
	.m-b-30{
		margin-bottom: 30px;
	}
	.m-b-50{
		margin-bottom: 50px;
	}
	.m-b-80{
		margin-bottom: 80px;
	}
	.m-b-118{
		margin-bottom: 118px;
	}

	.m-l-0{ margin-left: 0 }
	.m-l-3{ margin-left: 3px }
	.m-l-15{ margin-left: 15px }
	.m-l-20{ margin-left: 20px }

	.m-r-3{ margin-right: 0 }
	.m-r-3{ margin-right: 3px }
	.m-r-15{ margin-right: 15px }
	.m-r-160{ margin-right: 160px }
	.m-r-240{ margin-right: 240px }
	.m-r-260{ margin-right: 260px }

	/*Modify padding*/
	.p-b-30{
		padding-bottom: 30px;
	}
	.p-r-15{ padding-right: 15px }
	.p-l-15{ padding-left: 15px }
	.p-t-10{ padding-top: 10px }
	.p-t-23{ padding-top: 23px }
	.p-t-33{ padding-top: 33px }
	.p-t-100{ padding-top: 100px }
	.p-t-150{ padding-top: 150px }
	.p-t-230{ padding-top: 230px }

	/*Modify Float*/
	.fl-left{
		float: left
	}
	.fl-right{
		float: right
	}

	/*Modify backgroud*/
	.bg-white{
		background: #fff;
	}

	/*Modify border*/
	.b-t-1{
		border-top: 1px solid #f4f6f8
	}
	.b-n{
		border: none;
	}

	/*Modify Font-size*/
	.f-s-12{ font-size: 12px }
	.f-s-16{ font-size: 16px }
	.f-s-18{ font-size: 18px }
	.f-s-18{ font-size: 18px }
	.f-s-22{ font-size: 22px }
	.f-s-28{ font-size: 28px }
	.f-s-30{ font-size: 30px }
	.f-s-32{ font-size: 32px }
	.f-s-36{ font-size: 36px }
	.f-s-40{ font-size: 40px }
	.f-s-45{ font-size: 45px }
	.f-s-52{ font-size: 52px }

	/*Modify font-weight*/
	.f-w-100{ font-weight: 100 }
	.f-w-200{ font-weight: 200 }
	.f-w-300{ font-weight: 300 }
	.f-w-400{ font-weight: 400 }
	.f-w-500{ font-weight: 500 }
	.f-w-600{ font-weight: 600 }
	.f-w-700{ font-weight: 700 }
	.f-w-800{ font-weight: 800 }
	.f-w-900{ font-weight: 900 }



