.container{
	width: 800px;
}
.left-navigation{display: none;}
.products{width: 100%;}
.products .rows .item{
	width: calc(100% / 4);
}
.menutop-p1{
	display:none;
}
.logo-top-p1{
	text-align:center;
}