*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f5f7f9;
}
.section{
	width: 1170px;
	height: 1200px;
}	
.menu{
	width: 906px;
	height: 1200px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	float: right;
}
.menu .row {
	width: 270px;
	height: 368px;
	float: left;
	margin-right: 30px;
	margin: 0px 15px 30px;
	background-color: white;
}
.menu .row .item {
	font-size: 18px;
	font-weight: 700px;
	color: #34404b;
	margin-top: 20px;

}
figcaption{
	margin-top: 20px;
}
p{
	margin-top: 30px;
	font-size: 18px;
	font-weight: 700px;
	color: #ff5912;
}


