body{
	background: #f4f6f8;
}
.dau{
	width:100%;
	height: 193px;
	background: #f4f6f8;
}
.dau .d1{
	width:100%;
	height:60px;
	background: white;
}
.dau .d1 .a1{
	width:500px;
	float: left;
	margin-left:100px;
}
.dau .d1 .a1 .thu-kb2{
	position: relative;
	top: 10px;
}
.b{	
	padding-top: -20px;
	padding-left: 10px;
	padding-right: 10px;
}
.b3:before{
	content:" ";
	width: 6px;
	height: 6px;
	border:5px solid red;
	display: inline-block;
	margin: 15px 10px 10px 30px;
	background: #edf0f2;
}
.dau .d1 .a2{
	width: 500px;
	float: right;
	margin-right:50px;
}
.dau .d1 .a2 .gocphaitren{
	position: relative;
	top: 20px;
}
.dau .d2{
	width:100%;
	height:130px;
	background: white;
	margin-top: 1px;
}
.dau .d2 .x1{
	width: 900px;
	height: 130px;
	float:left;
	padding-left: 100px;
}
.dau .d2 .x1 .y1{
	width: 300px;
	height: 100px;
	float: left;
	margin-top: 10px;
}
.dau .d2 .x1 .y2{
	width: 400px;
	height:70px;
	float: left;
	padding-top: 50px;
}
.khoangtrong:before{
	content: " ";
	width: 30px;
	display: inline-block;
}.khoangtrongmau{
	color: red;
}
.khoangtrongmau:before{
	content: " ";
	width: 30px;
	display: inline-block;
}
.dau .d2 .x2{
	width: 400px;
	height: 50px;
	float: left;
	padding-top: 50px;
}
.rung{
	width: 1400px;
	height: 1300px;
	background: #f4f6f8;
	margin: 0px auto;
	margin-top: 100px;
}
.rung .cay1{
	width: 300px;
	float: left;
	height: 1250px;
	background: #f4f6f8; 
}
.rung .cay1 .as{
	width: 250px;
	height: 250px;
	padding:  10px 10px 10px 10px;
	margin: 30px 30px 10px 30px;
	background: white;
}
.chuchinh{
	font-size:20px;
	color: orange;
	padding-left:20px;
}
.rung .cay1 .as .asd .phu{
	padding-left:20px;
}
.rung .cay1 .as .asd .phu1{
	margin-left:70px;
}
.rung .cay1 .as .asd .phu2{
	margin-left:70px;
}
.phu3{
	margin-left:-50px;
}
.phu4{
	margin-left:50px;
	margin-right:-100px;
}
.phu3:after{
	content:" ";
	width: 6px;
	height: 6px;
	border:5px solid #edf0f2;
	display: inline-block;
	margin-left: 0px;
	background: #edf0f2;
}
.phu4:after{
	content:" ";
	width: 6px;
	height: 6px;
	border:5px solid #edf0f2;
	display: inline-block;
	margin-left: 10px;
	background: #edf0f2;
}
.rung .cay1 .as .asd .box input{
	display: none;
}
.rung .cay1 .as .linebox{
	width: 186px;
	border-bottom: 3px solid #edf0f2;
	margin:0 auto;
	position: relative;
}
.rung .cay1 .as .linebox .node{
	position: absolute;
	width: 11px;
	height: 11px;
	background: #34404b;
	border-radius: 100%;
}
.rung .cay1 .as .linebox .node.no1{
	top:-5px;
	left:30px;
}
.rung .cay1 .as .linebox .node.no2{
	top:-5px;
	right:30px;
}
.rung .cay1 .as .linebox .line{
	display: inline-block;
	width: 107px;
	border-bottom: 3px solid #34404b;
	position: absolute;
	top:0px;
	left:40px;
}
.rung .cay1 .as .asd .box label:before{
	content: " ";
	width: 6px;
	height: 6px;
	border:5px solid #edf0f2;
	display: inline-block;
	margin-right: 15px;
}
.rung .cay1 .as .asd .box input[type="checkbox"]:checked + label{
	color: red;
}
.rung .cay1 .as .asd .box input[type="checkbox"]:checked + label:before{
	border:5px solid red;
}
.rung .cay2{
	width: 1100px;
	float: right;
	height: 1200px;
	background: #f4f6f8;
}
.rung .cay2 .goc{
    text-align: center; 
    font-size: 30px;
	padding:  10px 10px 10px 10px;
	margin-left: 30px;
	width:1100px;
}
.rung .cay2 .goc .canh{
	height: 350px;
	padding:  10px 10px 10px 10px;
	margin-right: 50px;
}
.rung .cay2 .goc .canh .nhanh{
    width: 300px;
	height: 330px;
    float:left;  
	margin-right:30px;
	background: white;
	color: red;
	position: relative;
	/*animation-name: hieuung;
	animation-duration: 2s;
    animation-iteration-count: infinite;*/
}
/*@keyframes hieuung{
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow;left:200px; top:0px;}
    50%  {background-color:blue;left:200px; top:200px;}
    75%  {background-color:green;left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}*/
.rung .cay2 .goc .canh .nhanh .show{
	opacity: 1;
	position: absolute;
	top: -20px;
	left: 0px;

}
.rung .cay2 .goc .canh .nhanh .show-hover{
	position: absolute;
	opacity: 0;
	top: -30px;
	left: -20px;
	transition: all 1050ms ease-out;
	-webkit-transition:all 1050ms ease-out;
	-moz-transition: all 1050ms ease-out;
}
.rung .cay2 .goc .canh .nhanh:hover .show{
	opacity: 0;
}
.rung .cay2 .goc .canh .nhanh:hover .show-hover{
	opacity: 1;
}
.rung .cay2 .goc .canh .nhanh figcaption{	
	font-size: 20px;
	color: #34404b;
}
.rung .cay2 .goc .canh .nhanh .money{
	padding-top: 270px;
	color: #ff5912;
	font-size: 30px;
}
.rung .cay2 .goc .canh .nhanh figcaption:hover{
	color: blue;
}
.rung .cay2 .goc .canh .nhanh .money:hover{
	color: yellow;
}
.rung .khac{
	width: 1000px;
	height: 90px;
	float: right;
	margin-top: -80px;
	margin-right: 50px;
	position: relative;
	background: white;
}
.rung .khac .cham{
	position: absolute;
	width: 11px;
	height: 11px;
	background: red;
	border-radius: 100%;
}
.rung .khac .cham.c1{
	top: 40px;
	left:450px;
}
.rung .khac .cham.c2{
	top: 40px;
	left:500px;
}
.rung .khac .cham.c3{
	top: 40px;
	left:550px;
}
.thantren{
	width: 100%;
	height: 550px;
	background: white;
}
.thantren .thantrentrai{
	width: 700px;
	float: left;
	height: 100%;
}
.ttt-tren{
	width: 70%;
	float: right;
	height:350px;
	margin-top: 30px;
}
.ttt-duoi{
	width: 65%;
	float: right;
	height: 170px;
}
.iconset{
	float: left;
	width: 140px;
	height: 110px;
	opacity: 1;
	transition: all ease-out;
	-webkit-transition: all ease-out;
	-moz-transition: all ease-out;
	position: relative;
	background: #f4f6f8;
	margin-right: 5px;
}
.iconset .ics{
	opacity: 1;
	position: absolute;
	left: -10px;
	top: -10px;
}
.iconset:hover{
	opacity: 0.5;
	background: orange;
}
.thantrenphai{
	width: 700px;
	float: left;
	height: 100%;
	text-align: left;
	padding-left: 20px;
}
.ttp-tren{
	width: 100%;
	height: 250px;
}
.ttp-giua{
	width: 100%;
	height: 100px;
	padding-top: 20px;
}
.choossize{
	float: left;
	width: 300px;
	height: 50px;
	margin-top: 20px;
}
.choos:after{
	content: " ";
	width: 20px;
	display: inline-block;
}
.size:after{
	content: " ";
	width: 20px;
	display: inline-block;
}
.size:hover{
	color: red;
}
.quantity{
	float: right;
	width: 350px;
	height: 50px;
	text-align: center;
	margin-top: 20px;
}
.ttp-duoi{
	width: 100%;
	height: 100px;
}
.price{
	width: 200px;
	float: left;
	margin-top: 30px;
}
.kobiet{
	width: 450px;
	float: right;
	height: 100px;
	margin-top: 30px;
}
.ickobiet{
	float: left;
	width: 230px;
	height: 90px;
}
.ickb{
	float:left;
	width: 70px;
	height: 60px;
}
.ickobiet2{
	float: right;
	height: 50px;
	width: 170px;
	text-align: center;
	padding-top: 15px;
	padding-left: 10px;
	background: red;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
}
.thanduoi{
	margin: 0px auto;
	width: 1380px;
	height: 400px;
}
.quanao{
	float:left;
	width: 290px;
	height: 370px;
	background: white;
	position: relative;
	margin-left: 40px;
	margin-right: 10px;
}
.quanao .truochover{
	opacity: 1;
	position: absolute;
	top: -10px;
	left: -25px;
}
.quanao .sauhover{
	opacity: 0;
	position: absolute;
	top: -17px;
	left: -37px;
	transition: all 1050ms ease-out;
	-webkit-transition:all 1050ms ease-out;
	-moz-transition: all 1050ms ease-out;
}
.quanao .truochover:hover{
	opacity: 0;
}
.quanao .sauhover:hover{
	opacity: 1;
}
.quanao .money{
	padding-top:330px;
	font-size: 20px;
	color: red;
}
.duoi{
	margin: 0px auto;
	width: 1300px;
	height: 100px;
	background: white;
}
.duoi .duoitrai{
	float: left;
	width: 500px;
	padding-top: 40px;
}
.duoi .duoitrai .chuchinh{
	color: red;
}
.duoi .duoitrai .chuchinh:after{
	content:" ";
	width: 20px;
	height: 6px;
	display: inline-block;
	background: white;
}
.duoi .duoiphai{
	float: right;
	width: 600px;
	margin-top: 40px;
	margin-right: 100px;
}
.dptrai{
	width: 300px;
	float: left;
	position: relative;
}
.dptraithu{
	position: absolute;
	top: -5px;
	left: 50px;
}
.dpphai{
	width: 100px;
	height: 30px;
	float: right;
	background: red;
	padding-top: 10px;
	padding-left: 5px;
	margin-top: -10px;
}
.cuoi{
	width: 100%;
	margin: 0px auto;
	background: white;
	height: 200px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 50px;
}
.cuoi .cuoitrai{
	width: 350px;
	float: left;
	padding-left: -10px;
	padding-top: 30px;
}
.cuoi .cuoitrai .shopyc2015{
	padding-left: 60px;
	font-size: 17px;
	margin-top: -10px;
}
.cuoi .cuoigiua{
	float: left;
	width: 700px;
}
.cuoi .cuoigiua .cot{
	padding-top: 30px;
	height: 200px;
	width: 200px;
	float: left;
	padding-left: 30px;
}
.cuoi .cuoiphai{
	float: left;
	height: 200px;
	padding-top: 30px;
	padding-left: 70px;
}
.cuoi .cuoiphai .payment{
	font-size: 20px;
	color: red;
	padding-left: 20px;
}
.mau{
	color: red;
}