<!DOCTYPE html>
<html ng-app="demoApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<title>Angular JS</title>
	<script type="text/javascript" src="js/angular.js"></script>
</head>
<body>
	<div ng-controller="DemoController">
		<p>Search contact</p>
		<input type="text" ng-model="searchname"/>
		<ul><li ng-repeat="contact in contacts | filter:searchname">Name: {{contact.name}} <br>Phonenumb: {{contact.phonenumb}}</li></ul>
	</div>
	<script type="text/javascript">
		var demo = angular.module("demoApp",[]);
		demo.controller("DemoController",function($scope){
			var contacts = [
				{
					name: "Le A",
					phonenumb: 8491200000
				},
				{
					name: "Le B",
					phonenumb: 84122111111
				},
				{
					name: "Le C",
					phonenumb: 84167444444
				},
				{
					name: "Le D",
					phonenumb: 8491144444
				},
				{
					name: "Le E",
					phonenumb: 84167555555
				},
			];
				$scope.contacts = contacts;	
			});
	</script>
</body>