<% include template/header.ejs %>

<section class="contact10">
    <div class="content">
        <div class="products">
            <div class="col-lg-12 trencung">
                <div class="anhnen1 wow bounceInRight" data-wow-delay="0.1s">
                    <div class="container">
                        <div class="chucucto wow bounceIn" data-wow-delay="0.3s">
                            <h1 class="to">Contact</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 giua text-center">
                    <div class="col-sm-8 offset-sm-2">
                            <div class="row">
                                <% if(success_msg.length >0){ %>
                                <div class="alert alert-success text-center wow bounceInLeft col-sm-12 " data-wow-delay="0.1" role="alert">
                                    <strong>
                                        <%= success_msg %></strong>
                                </div>
                                <%} %>
                        
                            </div>
                        </div>
                <div class="container ">
                    <div class="phanchung">
                        <p class="to wow bounceInLeft" data-wow-delay="0.1s">Let's Talk</p>
                        <p class="m-g-b wow bounceInLeft" data-wow-delay="0.2s">Colonel gravity thought fat smiling add but. Fonder hunted and put income set
                            desire expect.</p>
                        <div class="contact-left ">
                            <div class="left-1">
                                <div class="image_wrapper">
                                    <img src="../images/contact1.jpg" class="contact1 wow bounceInLeft" data-wow-delay="0.1s" data-wow-offset="100">
                                </div>
                            </div>

                        </div>
                        <div class="contact-right wow bounceInRight" data-wow-delay="0.1s" data-wow-offset="100">
                            <div class="column mcb-column one column_column ">
                                <div class="column_attr clearfix align_center">
                                    <h3>Feel free and write</h3>
                                    <p class="to1">Online contact</p>
                                </div>
                            </div>
                            <div class="column mcb-column two-third column_column ">
                                <div class="column_attr clearfix">
                                    <div class="wpcf7">
                                        <form action="/admin/message" method="POST" class="wpcf7-form">
                                            <div class="column one-second">
                                                <span class="wpcf7-form-control-wrap your-name">
                                                    <input type="text" name="customer_name" size="40" required class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                        placeholder="Your name">
                                                </span>
                                            </div>
                                            <div class="column one-second">
                                                <span class="wpcf7-form-control-wrap your-email">
                                                    <input type="email" name="email" size="40" required class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                        placeholder="Your e-mail">
                                                </span>
                                            </div>
                                            <div class="column one">
                                                <span class="wpcf7-form-control-wrap your-subject">
                                                    <input type="text" name="subject" value="" size="40" class="wpcf7-form-control wpcf7-text"
                                                        placeholder="Subject">
                                                </span>
                                            </div>
                                            <div class="column one">
                                                <div class="wpcf7-form-control-wrap your-message">
                                                    <textarea name="message" cols="20" rows="7" class="wpcf7-form-control wpcf7-textarea"
                                                        placeholder="Message"></textarea>
                                                </div>
                                            </div>
                                            <div class="column one">
                                                <input type="submit" value="Send a message" class="wpcf7-form-control wpcf7-submit button_full_width">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 cuoicung">
                <div class="container">
                    <div class="contact-left1">
                        <div class="column mcb-column one-second column_column ">
                            <div class="omchu">
                                <h2 class="to wow bounceInLeft" data-wow-delay="0.2s">
                                    Alithea<br> Card Shop
                                </h2>
                                <p class="m-g-b wow bounceInLeft" data-wow-delay="0.2s">
                                        Find Alithea cards at this location:
                                </p>
                                <hr class="no_line">
                                <p class="wow bounceInLeft" data-wow-delay="0.3s">
                                    Level 13, Ton That Thuyet St,<br>
                                    Cau Giay, Ha Noi<br>
                                    Viet Nam
                                </p>
                                <hr class="no_line">
                                <div class="google_font wow bounceInLeft" data-wow-delay="0.4s" style="font-family:'Lato',Arial,Tahoma,sans-serif;font-size:27px;line-height:27px;font-weight:700;letter-spacing:0px;color:#0086e0;">alithea@envato.com</div>
                                <p class="wow bounceInLeft" data-wow-delay="0.6s">+61 (0) 3 8376 6284</p>
                                <hr class="no_line" style="margin: 0 auto 20px;">
                                <p style="font-size: 35px;" class="wow bounceInLeft" data-wow-delay="0.5s">
                                    <a href="#"></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="contact-right1 wow bounceInRight" data-wow-delay="0.3s">
                        <div class="bando">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2983.2661463973295!2d105.78222855979756!3d21.028631387548344!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b3285df81f%3A0x97be82a66bbe646b!2sDetech+Building!5e0!3m2!1svi!2s!4v1545389995609" 
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include template/footer %>