body{
	background: white;
}
#container{
    width: 1500px;
	margin: 0px auto;
	height: 1200px;
    text-align: center; 
    font-size: 30px;
	background: #f4f6f8;	
}
#goc1{
	height: 33%;
	
}
#goc2{
	height: 33%;
	
}
#goc3{
	height: 33%;
	
}
.nhanh1{
    width: 25%;
	height: 75%;
	padding:  30px 30px 20px 30px;
    float:left;  
	margin: 30px 30px 20px 30px;
	background: white;
	color: red;
}
.nhanh2{
    width: 25%;
	height: 75%;
	padding:  30px 30px 20px 30px;
    float:left;  
	margin: 30px 30px 20px 30px;
	background: white;
	color: red;
}
.nhanh3{
	width: 25%;
	height: 75%;
	padding: 30px 30px 20px 30px;
    float:left;
	margin: 30px 30px 20px 30px;
	background: white;
	color: red;
}
h4{	
	font-size: 20px;
	color: #34404b;
}
h5{
	font-size: 15px;
	color: #ff5912;
}