body {
	background: #f4f6f8;
	padding: 70px 50px 70px 120px
	
}

div {
}

.area1{
	background: white;
	text-align: center;
	float: right;
	height:301px;
	padding: 33px;
	border: 15px solid #f4f6f8;
	
}

.product{
	font-family: Franklin Gothic Medium;
	font-weight: 500;
	color: #34404b;
	font-size: 19px
}
.price{
	font-family: Gadugi;
	font-weight: bold;
	color: #ff5912;
	font-size: 16px
}