body
{
	padding-left: 150px;
	padding-right: 150px;
	background: #f4f6f8;
	font-family: Arial;
	text-align: center;
}
h3
{
	font-size: 19px;
	color: #34404b;
	font-weight: 500;
	padding-bottom: 5px;
}
#price
{	
	font-size: 16px;
	color: #ff5912;
	font-weight: bold;
}
div
{
	background: white;
	float: left;
	width: 200px;
	height: 309px;
	border: 15px solid #f4f6f8;
	padding: 30px 35px;
}
	
