body{background: #FFF;}

div{
	text-align: center;	
	margin: 0px;
	border: 60px solid #f4f6f8;
	padding: 20px 30px 20px 30px;
	float: left;	
}
div1{
	text-align: center;
	margin: 0px;
	border: 60px solid #f4f6f8;
	padding: 20px 20px 23px 20px;
	float: left;
}
h2{
	color: red;
}
h3{
	color: #34404b;
}
p{
	font-weight: 600;
	color: #ff5912;
}

