*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0px;
    background: #f4f6f8;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
    color: #34404b;
}
.section {
    width: 100%;
    float: left;
    margin-bottom: 120px;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.left-column {
    width: 270px;
    float: left;
}
.products {
	width: 870px;
	float: right;
}
.item{
	float: left;
	width: calc(100% / 4 - 30px);
	padding: 0 15px;
	margin-bottom: 30px;
}
.item-content {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	background: #ffffff;
	height: 303px;
	overflow: hidden;
	width: 100%;
}
.rows .item .size-icons span{
	width: 13px;
	height: 13px;
	border-radius: 100%;
    display: inline-block;
    cursor: pointer;
}
 .rows .item .item-content{
	transition: all 450ms ease-out;
	-webkit-transition: all 450ms ease-out;
}
.rows .item .item-content:hover img{
	height: 90px;
	width: auto;
	transition: all 250ms;
	-webkit-transition: all 250ms;
}
.rows .item .item-content img{
	height: 200px;
	width: auto;
	transition: all 350ms;
	-webkit-transition: all 350ms;
}

.rows .item .price-box{
	margin-bottom: 85px;
	color: #ff5912;
	font-weight: 600;
}
.rows .item .item-content:hover .price-box{
	margin-bottom: 0px;
}
.rows .item .item-content:hover .price-box{
	opacity: 0;height: 0px;

}

.rows{
	margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
figcaption{
	line-height: 70px;
	font-size: 18px;
	font-weight: 600;
}
.loading p .circle {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background: #ff5912;
    display: inline-block;
}
.loading p{
    text-align: center;
    height: 13px;
}

.size{
	margin-bottom: 30px;
}
.black{
	background: #34404b;
}
.blue {
	background: #3ab3ff;
}
.green{
	background: #2fd967;
}
.red{
	background: #e12e3f;
}
.item-line {
	width: 170px;
	height: 2px;
	background-color: #f4f6f8;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.icon-bot .fa {
    padding: 0 12.5px;
    cursor: pointer;
}
ul{
    list-style: none;
}


.block {
    float: left;
	width: calc(100% - 40px);
	background: #fff;
    margin-bottom: 30px;
    padding: 0px 0px 0px 40px;
}
.block.categories {
    height: 305px;
}
h3{
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 18px;
    color: #ff5912;
    height: 13px;
}
li{
    list-style: none;
}
.block.categories ul li{
    margin-bottom: 40px;
    height: 13px;
}
.block.categories ul li:hover a{
    color: #ff5912;
}
.block ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #34404b;
    font-weight: 600;
    text-align: center;
}
.search {
    float: left;
}
.loading {
    width: 100%;
    background: #fff;
    height: 13px;
    float: left;
    padding: 23.5px 0px;
}
.block.price-filter {
    height: 232px;
    position: relative;
}
.block.price-filter .line-box {
    width: 186px;
    height: 3px;
    background: #edf0f2;
    position: relative;
    top: 40px;
}
.block.price-filter .line-box .line {
    width: 107px;
    height: 3px;
    background: #34404b;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 40px;
}
.block.price-filter .line-box .node {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background: #34404b;
    position: absolute;
}
.block.price-filter .line-box .node.no_1{
    left: 35px;
    top: -4px;
}
.block.price-filter .line-box .node.no_2{
    right: 35px;
    top: -4px;
}
.fill {
    position: absolute;
    bottom: 30px;
}

.fill input {
	width: 45px;
	height: 25px;
	background: #edf0f2;
	border: none;
	margin-left: 15px;
	margin-right: 20px;
    font-size: 14px;
    font-weight: 500;
}
.fill span {
    font-size: 14.03px;
    font-weight: 600;
}
.from {
    position: absolute;
    left: 65px;
    font-weight: 500;
    color: #34404b;
}
.to {
    position: absolute;
    left: 165px;
    font-weight: 500;
    color: #34404b
}
.block.sizes {
    height: 302px;
}
.checkbox {
    width: 100%;
    height: 16px;
    margin-bottom: 35px;
}
.checkbox:first-child{
    margin-top: 35px;
}
label{
	font-size: 16px;
    font-weight: 600;
}
input[type=checkbox] + label{
	display:block;
}
input[type=checkbox]{
    display: none;
}
.checkbox input[type=checkbox] + label:before{
    content: "";
    width: 5px;
    height: 5px;
    background: #edf0f2;
    border: 6px solid #edf0f2;
    display: inline-block;
    margin-right: 15px;
    vertical-align: bottom;
}
.checkbox input[type=checkbox]:checked + label:before{
    border: 6px solid #ff5912;
}
.checkbox input[type=checkbox]:checked + label{
    color: #ff5912;
}
.section2{
	width: 100%;
    float: left;
}
.news {
    width: 1170px;
    height: 123px;
    margin: 0 auto;
    background: #fff;
}
.letter {
    line-height: 123px;
    color: #ff5912;
    margin: auto 25px auto 55px;
}
.joinus {
    margin-right: 255px;
    font-size: 14px;
}
.forms {
    display: inline-block;
}
.section2 .news img{
    margin-right: 10px;
}
.section2 .news .forms input{
    border: none;
    font-size: 14px;
    font-style: italic;
    margin-right: 135px;
    height: 30px;
    font-weight: 400;
}
.button{
    background: #ff5912ad;
    border: none;
    width: 100px;
    height: 50px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5;
}
.button:hover {
    background: #ff5912;
    transition: 0.5s;
}
.contact {
    width: 100%;
    height: 60px;
    background: #ffffff;
    border-bottom: 2px solid #f4f6f8;
}
.contact .contact-container {
    line-height: 60px;
    width: 1170px;
    height: 60px;
    margin: 0 auto;
    position: relative;
}
.nav-left{
    position: absolute;
    left: 0px;
}
.nav-left li{
    display: inline-block;
    font-size: 12px;
    margin-right: 25px;
}
.nav-left li img{
    margin-right: 10px;
}
.nav-right{
    float: right;
    height: 32px;
    padding: 14px 0px 14px 14px;
}
.nav-right li{
    float: left;
    width: 32px;
    height: 32px;
    position: relative;
    transition: 0.3s;
}
.nav-right li a{
    position: absolute;
    width: 12px;
    height: 12px;
    padding: 10px;
}
.nav-right .fb:hover{
    background: #4267b2;
    transition: 0.5s;
}
.nav-right .tw:hover{
    background: #55acee;
    transition: 0.5s;
}
.nav-right .gg:hover{
    background: #db4437;
    transition: 0.5s;
}
.nav-right .cmr:hover{
    background: orangered;
    transition: 0.5s;
}
.nav-right li a:hover i{
    color: #ffffff;
}
.nav-right li a i{
    height: 12px;
    width: 12px;
    font-size: 12px;
    position: absolute;
    text-align: center;
}
.logo {
    width: 100%;
    background: #ffffff;
    height: 120px;
}
.logo .logo-container {
    width: 1170px;
    height: 120px;
    margin: 0 auto;
    line-height: 120px;
}
.logo .logo-container .pic-logo {
    float: left;
    height: 110px;
    margin-left: 0px;
    margin-right: 83px;
    padding-top: 10px;
}
.logo .logo-container .menu {
    float: left; 
    padding-left: 0px;
    height: 100%;
}
.logo .logo-container .menu li{
    display: inline-block;
    padding-left: 0px;
    margin-right: 30px;
}
.logo .logo-container .menu li a{
    font-size: 16px;
    transition: 0.4s;
    margin-left: 0px;
}
.logo .logo-container .menu li:hover a{
    color: #ff5912;
    transition: 0.5s;
}
.logo .logo-container .search {
    float: right;
}
.logo .logo-container .search li {
    float: left;
    margin-right: 25px;
}
.logo .logo-container .search li:last-child{
    margin-right: 0px;
}

.footer {
    width: 100%;
    height: 250px;
    background: #ffffff;
    float: left;
    margin-top: 122px;
    margin-bottom: 0px;
}
.footer .footer-container{
    width: 1170px;
    height: 250px;
    margin: 0 auto;
    position: relative;
}
.footer-left {
    margin-top: 89px;
    float: left;
}
.order{
    width: 485px;
    float: left;
    margin-left: 205px;
    margin-top: 89px;
}
.under {
    float: left;
    margin-right: 95px;
}
.under:last-child{
    margin-right: 0px;
}
.under li{
    list-style-type: disc;
    
}
.under li a {
    font-size: 14px;
    transition: 0.5s;
}
.under li:hover a{
    color: #ff5912;
    transition: 0.5s;
}
.copyright{
    font-size: 14px;
    margin-top: 20px;
}
.payment {
    height: 20px;
    width: 28px;
}
.method{
    position: absolute;
    right: 0px;
    line-height: 1;
    top: 99px;
}
.method li {
    display: inline-block;
    margin-right: 8px;
}
.method p{
    margin-bottom: 20px;
    color: #ff5912;
    font-weight: 600;
}
.container-2 {
    width: 1030px;
    background: #fff;
    margin: 0 auto;
    padding-top: 104px;
}
.small1{
    float: left;
    margin: 0 auto;
    background: #f4f6f8;
    width: 100px;
    height: 60px;
    padding-top: 10px;
    background: #f4f6f8;
    margin-right: 15px;
    transition: 0.5s;
}
.small1:hover img{
    opacity: 0.6;
    transition: 0.5s;
}
.small1:hover{
    background: #ff5912;
    transition: 0.5s;
}
.small1:last-child {
    margin-right: 0px;
}
.section2{
    width: 100%;
    background: #fff;
}
.detail {
    margin-top: 2px;
    height: 650px;
}
.detail-left{
    width: 330px;
    height: 547px;
    float: left;
}
.detail-left img:first-child{
    display: block;
    margin:0 auto 68px auto;
}
.detail-left img{
    padding: 0px 10px;
}
.detail-right{
    width: 625px;
    height: 422px;
    float: right;
    padding: 0px 0px 125px 5px;
    margin-top: -10px;
}
.detail-right p{
    padding-left: 0px;
}
.detail-right .p1{
    font-size: 52.15px;
    font-weight: 700;
    color: #ff5912;
    margin-bottom: 15px;
}
.detail-right .p2{
    font-size: 18px;
    color: #3c4751;
    margin-bottom: 30px;
}
.detail-right .p3{
    line-height: 25px;
    font-size: 16px;
}
.detail-right .p4{
    width: 358px;
    line-height: 25px;
    font-size: 16px;
}
.desc{
    width: 515px;
    height: 207px;
    padding-bottom: 30px;
}
.choose .choose-left p {
    float: left;
    margin-right: 30px;
    font-size: 18px;
}
.choose .choose-right p {
    font-size: 18px;
}
.quality {
    float: left;
    margin-right: 10px;
}
.choose ul{
    float: left;
}
.choose ul li{
    float: left;
    margin-top: 1.5px;
}
.choose ul li::after {
    content: "-";
    padding: 0 8px;
}
.choose ul li:last-child::after{
    content: " ";
}
.choose ul li a {
    font-size: 14px;
}
.choose ul li:hover a{
    color: #ff5912;
    font-size: 18px;
}
.choose-left{
    width: 50%;
}
.choose-right{
    width: calc(50% - 100px);
    float: right;
    padding-left: 100px;
}
.choose-right p{
    margin:0px;
}
.choose-number input{
    width: 35px;
    height: 20px;
    border: none;
    font-size: 18px;
    color: #ff5912;
}
.choose-number:after{
    content: "-";
}
.choose-number:before{
    content: "+";
    margin-right: 12px;
}
.choose-number{
    float: right;
}
.price-bot p{
    float: left;
}
.price-bot .icon-bot{
    float: left;
}
.order-button {
    border-radius: 100px;
    background: #ff5912;
    width: 140px;
    margin:0px;
    height: 50px;
    float: right;
    margin-top: 20px;
}
.price-bot p{
    font-size: 20px;
    font-weight: 700;
    margin-right: 225px;
    padding-top: 40px;
}
.price-bot div{
    padding-top: 40px;
}
.price-bot{
    padding-top: 120px;
}
.related{
    background: #f4f6f8;
    height: 149px;
    text-align: center;
    padding-top: 117px;
}
.related p:first-child{
    font-size: 28px;
    font-weight: 600;
}
.related p .cam{
    color: #ff5912;
}
.related p:last-child{
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
}
.related-product{
    height: 368px;
    background: #f4f6f8;
    margin-bottom: 122px;
}
.related-product .container{
    height: 100%;
}







