  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../vendor/jquery.js"></script>
    <script src="../vendor/js/lightslider.js"></script>
    <script src="../vendor/js/Tweenmax.js"></script>
    <script src="../vendor/js/easing.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="../vendor/js/bootstrap.min.js"></script>
    <script src="../javascripts/admin.js"></script>
    <script src="../javascripts/register.js"></script>
  </body>
</html>