

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../vendor/jquery.js"></script>
<script src="../../vendor/js/poper.js"></script>
<script src="../../vendor/js/easing.js"></script>
<script src="../../vendor/js/bootstrap.min.js"></script>
<script src="../../vendor/js/all.js"></script>
<script src="../../vendor/js/wow.js"></script>
<script src="../../vendor/js/jquery.countdown.min.js"></script>
<script src="../../javascripts/admin.js"></script>
<script src="../../javascripts/register.js"></script>
</body>

</html>