<div class="col-xs-12 edit-form">
    <div class="row">
        <input type="text" class="form-custom col-xs-12" placeholder="Họ"><br>
        <input type="text" class="form-custom col-xs-12" value="{{detail.name}}" ng-model="detail.name"/><br>
        <input type="text" class="form-custom col-xs-12" value="{{detail.address}}" ng-model="detail.address"/><br>
        <input type="text" class="form-custom col-xs-12 company" placeholder="Công ty">
        <p>
            <a class="col-xs-4 form-custom"><i class="fa fa-minus-circle edit-icon minus"></i><span class="p-d-10">nhà</span> ></a>
            <input type="text" class="col-xs-8 form-custom" value="{{detail.phone}}" ng-model="detail.phone">
            <a class="col-xs-12 form-custom add-number"><i class="fa fa-plus-circle edit-icon plus"></i><span class="p-d-10"> thêm số điện thoại</span></a>
            <a class="col-xs-12 form-custom add-number add-email"><i class="fa fa-plus-circle edit-icon plus"></i><span class="p-d-10"> thêm email</span></a>
            <a class="col-xs-4 music">Nhạc chuông</a><a class="col-xs-7 music">Mặc định</a><a class="col-xs-1 music">></a>
            <a class="col-xs-4 music">Âm tin nhắn</a><a class="col-xs-7 music">Mặc định</a><a class="col-xs-1 music">></a>
            <a class="col-xs-12 form-custom add-number add-email"><i class="fa fa-plus-circle edit-icon plus"></i><span class="p-d-10"> thêm url</span></a>
            <a class="col-xs-12 form-custom add-number add-email"><i class="fa fa-plus-circle edit-icon plus"></i><span class="p-d-10"> thêm địa chỉ</span></a>
            <a class="col-xs-12 form-custom add-number add-email"><i class="fa fa-plus-circle edit-icon plus"></i><span class="p-d-10"> thêm sinh nhật</span></a>
            <a class="col-xs-12 form-custom add-number add-email"><i class="fa fa-plus-circle edit-icon plus"></i><span class="p-d-10"> thêm tên liên quan</span></a>
            <a class="col-xs-12 form-custom add-number add-email"><i class="fa fa-plus-circle edit-icon plus"></i><span class="p-d-10"> thêm sinh nhật</span></a>
            <a class="col-xs-12 form-custom add-number add-email"><i class="fa fa-plus-circle edit-icon plus"></i><span class="p-d-10"> thêm hồ sơ xã hội</span></a>
            <a class="col-xs-12 form-custom add-number add-email"><i class="fa fa-plus-circle edit-icon plus"></i><span class="p-d-10"> thêm tin nhắn nhanh</span></a>
            <textarea rows="4" class="note-edit note col-xs-12" name="comment" form="usrform">Ghi chú</textarea>
            <a class="col-xs-12 music">thêm trường</a>
        </p>
        <div class="row">
            <p class="col-xs-12 contacted">LIÊN HỆ ĐÃ LIÊN KẾT</p>
            <a class="col-xs-12 form-custom add-number"><i class="fa fa-plus-circle edit-icon plus"></i><span class="p-d-10">liên kết liên hệ...</span></a>
            <p class="col-xs-12 contacted1"></p>
            <a class="col-xs-12 form-custom add-number delete"><span class="p-d-10">Xoá liên hệ</span></a>
            <p class="col-xs-12 contacted1"></p>
        </div>
    </div>
</div>