*
{
	margin:0;
	padding: 0;
}
header
{
	float: left;
	width: 100%;
}
body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 1.15;
	color: #34404b;
	background: #f4f6f8; 
}
li{
	list-style: none;
}
.hidden{display: none;}
.section{
	float: left;
	width: 100%;
}
.container
{
	width: 1170px;
	margin: 0 auto;
}
.bg-white
{
	background: #fff;
}
.m-b-15
{
	margin-bottom: 15px;
}
	/* Header*/
.header-top
{
	height: 60px;
	line-height: 50px;
	background: #fff;
}
.header-bottom
{
	height:122px;
	padding-top: 50px;
	background: #fff;
}
.header-top .phone 
{
	padding-left: 42px;
}
.header-top .internet
{
	float: right;
}
.header-top .internet span
{
	padding-right: 20px;
}
}
.header-bottom .logo span
{
	width: 200px;
	height: auto;
	font-weight: bold;
	font-size: 100px;
}
.header-bottom .logo
{
	font-size:15px;
	width: 150px;
	float: left;
}
.Tab
{
	width: 800px;
	font-size: 25px;
	float: left;
	line-height: 50px;
}
.Tab span
{
	padding-left:50px;
}
.Tab :hover
{
	color: #ff5912;
}

.tool
{
	float: right;
}
.tool img
{
	padding-right: 20px;
}


	/*Form*/
.id_face
{
	text-align: center;
}
.form-data
{
	text-align: center;
}
.form-group
{
	text-align: center;
	line-height: 1.5;
	font-size: 45px;
}
.form-group input
{
	width: 500px;
	height: 50px;
}

	/* Footer*/
.newsletter{
	float:left;
	width: 100%;
	background: #fff;
	height: 100px;
	line-height: 100px;
	margin-top: 120px;
	margin-bottom: 120px;
}
.newsletter .news
{
	font-weight: bold;
	text-transform: uppercase;
	color: #ff5912;
	font-size: 20px;
	padding-left: 55px;
}
.newsletter .offers
{
	font-style: italic;
	padding-left: 50px;
	font-size: 15px;
}
.newsletter .form-data
{
	display: inline;
	margin-left: 200px;
}
.newsletter .join
{
	padding-top: 20px;
	padding-right: 55px;
	float: right;

}
.footer
{
	background: white;
	padding-top: 25px;
	height: 122px;
	float: left;
}
.footer .logo
{
	width: 220px;
	float: left;
}
.footer .list
{
	width: 700px;
	float: left;
	padding-left: 60px;
}
.footer .list .col li:hover
{
	color: #ff5912;
}
.footer .list .col
{
	width: calc(100% / 3 - 150px);
	float: left;
	padding-left: 100px;
}
.footer .list .col .about
{
	color: #ff5912;
}
.footer .pay
{
	width: 150px;
	float: left;
	color: #ff5912;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
}
/* Standard syntax 
@keyframes example {
     0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}*/
@media only screen and (max-width: 768px) and (min-width: 300px)
{
	.container1{width: 100%;}
	.products{width: 73%;}
	.products .rows .item
	{
		width: calc(73% / 2);
	}
	.left-column{display: none}
}