 <% include template/header %>
 <section class="about10">
        <div class="content">
            <div class="products">
                <div class="col-lg-12 phantren">
                    <div class=" anhnen">
                      <div class="container w-1">
                        <div class="khoi1 col-lg-12">
                            <div class="mcb-wrap-inner">
                                <div class="text0">
                                    <div class="column_attr clearfix">
                                        <h6 class="h6-add wow bounceInDown trang" data-wow-delay="0.4s">ABOUT US</h6>
                                        <h2 class="h2-add wow bounceInDown trang" data-wow-delay="0.6s">We are family</h2>
                                    </div>
                                </div>
                                <div class="col-lg-12 text ">
                                  <div class="col-lg-6 text1 wow bounceInUp" data-wow-delay="0.8s">
                                      <div class="column_attr clearfix">
                                          <h5 class="h5-add trang">When that one-message-fits-all card from the drugstore isn’t right. And a text isn’t enough. Do something unexpected. Send a Alithea.</h5>
                                          <p class="kieuchu trang" >A Alithea is more than a card. The intricate 3D paper sculptures are designed by naval engineers on cutting-edge software and then handcrafted in the Asian art form of sliceform kirigami.</p>
                                      </div>
                                  </div>
                                  <div class="col-lg-6 text2 wow bounceInUp" data-wow-delay="1s">
                                      <div class="column_attr clearfix">
                                          <h5 class="h5-add trang">Whether it’s a wedding or birthday </h5>
                                          <p class="kieuchu trang">If you’re saying thanks (for not mentioning that thing that happened in Vegas) or celebrating (a co-worker’s compulsive love of cats), we’ve got you covered.</p>
                                      </div>
                                  </div>
                                </div>  
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="khoianh">
                    <div class="container">
                        <div class="anhgiua">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image ">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper wow pulse" data-wow-delay="1.2s">
                                            <img src="../images/about.jpg"  alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="diachi">
                    <div class="container">
                        <div class="wrap mcb-wrap one  valign-top move-up clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one-second column_placeholder">
                                    <div class="placeholder">
  
                                    </div>
                                </div>
                                <div class="column mcb-column two-fifth column_column ">
                                    <div class="address wow bounceIn" data-wow-delay="0.2s">
                                        <h6 class="h6-add">ADDRESS</h6>
                                        <h2 class="h2-add">Our shop</h2>
                                        <hr class="no_line" style="margin: 0 auto 10px;">
                                        <p class="icon_address">
                                            Level 13, 2 Elizabeth St, <br>
                                            Melbourne, Victoria 3000
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 10px;">
                                        <h6 class="h6-add">MONDAY - SATURDAY, 10AM - 6PM</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="phanduoi">
                    <div class="container">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column three-fifth column_column wow bounceInUp" data-wow-offset="50" data-wow-delay="0.1s">
                                    <div class="column_attr clearfix ">
                                        <h2 class="h2-add">So.....who are these guys shaking up the card industry??</h2>
                                        <h5 class="h5-add">Alithea founders Wombi Rose and John Wise became best friends at Webb Institute training to become naval architects. After school, the duo traveled to Vietnam where they discovered incredible hand-crafted paper cards.</h5>
                                        <p class="kieuchu">They headed back to Boston and put the cards in the hands of friends, family, and strangers--and watched. That moment when someone opened a card and saw the paper sculpture revealed for the first time became their obsession, and Alithea was born.</p>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider ">
                                    <hr class="no_line">
                                </div>
                                <div class="column mcb-column two-fifth column_placeholder">
                                    <div class="placeholder">
  
                                    </div>
                                </div>
                                <div class="column mcb-column one column_button wow bounceInRight" data-wow-delay="0.1s">
                                    <div class="button_align align_right">
                                        <a class="button  button_size_2 button_theme button_js" href="#">
                                            <span class="button_label">Our collection</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="column mcb-column three-fifth column_column wow bounceInRight" data-wow-delay="0.2s">
                                    <div class="column_attr clearfix">
                                        
                                        <h5 class="h5-add">Rose and Wise launched Lovepop out of the Harvard Innovation Lab in late 2014. Since then, they were named to the 2015 Techstars class, nominated for 50 on Fire by BostInno, and appeared on season 7 of "Shark Tank," where Kevin "Mr. Wonderful" O'Leary became an investor.  </h5>
                                        <p class="kieuchu">Oh, and how did Wombi get that name? You’ll have to ask him.</p>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider ">
                                    <hr class="no_line wow bounceInleft" data-wow-delay="0.5s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
  
 <% include template/footer %>