 <% include template/header %>
 <section>
        <div class="content">
            <div class="products">
                <div class="col-lg-12 phantren">
                    <div class=" anhnen">
                      <div class="container w-1">
                        <div class="khoi1 col-lg-12">
                            <div class="mcb-wrap-inner">
                                <div class="text0">
                                    <div class="column_attr clearfix">
                                        <h6 class="h6-add wow bounceInDown" data-wow-delay="0.4s">ABOUT US</h6>
                                        <h2 class="h2-add wow bounceInDown" data-wow-delay="0.6s">We are family</h2>
                                    </div>
                                </div>
                                <div class="col-lg-12 text ">
                                  <div class="col-lg-6 text1 wow bounceInUp" data-wow-delay="0.8s">
                                      <div class="column_attr clearfix">
                                          <h5 class="h5-add">Vivamus in diam turpis. In condimentum maximus tristique. Maecenas non laoreet odio.</h5>
                                          <p class="kieuchu" >Fusce lobortis porttitor purus, vel vestibulum libero pharetra vel. Pellentesque lorem augue, fermentum nec nibh et, fringilla sollicitudin orci. Integer pharetra magna non ante.</p>
                                      </div>
                                  </div>
                                  <div class="col-lg-6 text2 wow bounceInUp" data-wow-delay="1s">
                                      <div class="column_attr clearfix">
                                          <h5 class="h5-add">Diam turpis. In condimentum maximus tristique. Maecenas non laoreet odio.</h5>
                                          <p class="kieuchu">Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt ut eros.</p>
                                      </div>
                                  </div>
                                </div>  
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="khoianh">
                    <div class="container">
                        <div class="anhgiua">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image ">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper wow pulse" data-wow-delay="1.2s">
                                            <img src="../images/about.jpg"  alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="diachi">
                    <div class="container">
                        <div class="wrap mcb-wrap one  valign-top move-up clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one-second column_placeholder">
                                    <div class="placeholder">
  
                                    </div>
                                </div>
                                <div class="column mcb-column two-fifth column_column ">
                                    <div class="address wow bounceIn" data-wow-delay="0.2s">
                                        <h6 class="h6-add">ADDRESS</h6>
                                        <h2 class="h2-add">Our shop</h2>
                                        <hr class="no_line" style="margin: 0 auto 10px;">
                                        <p class="icon_address">
                                            Level 13, 2 Elizabeth St, <br>
                                            Melbourne, Victoria 3000
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 10px;">
                                        <h6 class="h6-add">MONDAY - SATURDAY, 10AM - 6PM</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="phanduoi">
                    <div class="container">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column three-fifth column_column wow bounceInUp" data-wow-offset="50" data-wow-delay="0.1s">
                                    <div class="column_attr clearfix ">
                                        <h2 class="h2-add">Proin bibendum</h2>
                                        <h5 class="h5-add">Ut ultricies imperdiet sodales. Aliquam fringilla aliquam ex sit amet elementum. Proin bibendum sollicitudin feugiat.</h5>
                                        <p class="kieuchu">Curabitur ut egestas justo, vitae molestie ante. Integer magna purus, commodo in diam nec, pretium auctor sapien.</p>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider ">
                                    <hr class="no_line">
                                </div>
                                <div class="column mcb-column two-fifth column_placeholder">
                                    <div class="placeholder">
  
                                    </div>
                                </div>
                                <div class="column mcb-column three-fifth column_column wow bounceInRight" data-wow-delay="0.2s">
                                    <div class="column_attr clearfix">
                                        <h2 class="h2-add">Fusce lobortis porttitor</h2>
                                        <h5 class="h5-add">Vivamus in diam turpis. In condimentum maximus tristique. Maecenas non laoreet odio.</h5>
                                        <p class="kieuchu">Fusce lobortis porttitor purus, vel vestibulum libero pharetra vel. Pellentesque lorem augue, fermentum nec nibh et, fringilla sollicitudin orci.</p>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider ">
                                    <hr class="no_line wow bounceInleft" data-wow-delay="0.5s">
                                </div>
                                <div class="column mcb-column one column_button wow bounceInRight" data-wow-delay="0.1s">
                                    <div class="button_align align_right">
                                        <a class="button  button_size_2 button_theme button_js" href="#">
                                            <span class="button_label">Our collection</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
  
 <% include template/footer %>