<% include template/headeradmin %>
<div class="col-sm-9 session">
        <div class="row">
                <div class="w-100 tieude-bang">
                        <p class="chu-tieude" ><i class="fa fa-plus-circle canh-tieude"></i>Add Category</p>
                </div>
            </div>
    <div class="row">
        <div class="add-img col-sm-12">
            <p class="tieumuc"> Category Image</p>
            <div class="row">
                <div class="col-sm-3">
                    <form id="upload-widget" method="post" action="/admin/upload" class="dropzone col-sm-12 content box"
                        enctype="multipart/form-data"></form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 content">
            <div class="row">
                <form action="/admin/add-new-cat" method="POST" name="form_register" class="col-sm-12">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="" class="tieumuc">Category Name</label>
                            <input type="text" name="cate_name" id="cate_name" class="form-control" placeholder="Name Category"
                                aria-describedby="helpId">
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="" class="tieumuc">Category Description</label>
    
                                <textarea class="form-control" rows="5" id="cate_desc" name="cate_desc"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="submit-reg btn btn-success btn-block col-sm-6 offset-sm-3 bgr-btn">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
<% include template/footeradmin %>