<% include template/header %>
<div class="col-sm-12 img-bgr">
    <header class="to">
        <img src="../images/s7.png" alt="" class="embe wow bounceInUp" data-wow-delay="1.1s">
        <img src="../images/s3.png" alt="" class="hoatiet1 wow bounceInUp" data-wow-delay="1.7s">
        <img src="../images/s4.png" alt="" class="hoatiet2 wow bounceInUp" data-wow-delay="1.5s">
        <img src="../images/s2.png" alt="" class="hoatiet3 wow bounceInUp" data-wow-delay="1.3s">
        <img src="../images/s5.png" alt="" class="dammay wow bounceInLeft" data-wow-delay="0.7s">
        <img src="../images/trees.png" alt="" class="trees wow bounceInUp" data-wow-delay="0.9s">
        <div class="chuto wow bounceInLeft" data-wow-delay="1.9s">Countdown to Christmas!</div>
        <div class="nut wow bounceInLeft" data-wow-delay="2.1s">See offer</div>
    </header>
</div>
<div class="col-sm-8 offset-sm-2">
    <div class="row">
        <% if(success_msg.length >0){ %>
        <div class="alert alert-success text-center wow bounceInLeft col-sm-12 " data-wow-delay="0.1" role="alert">
            <strong>
                <%= success_msg %> <%=user.lastname %></strong>
        </div>
        <%} %>

    </div>
</div>

<section class="product-related">
    <div class="container">
        <div class="row">
               
            <h2 class="text-center title-block wow bounceIn" data-wow-delay="0.1s" data-wow-offset="50">CHECK OUT OUR
                MOST POPULAR CARDS</h2>
            <!-- <h2 class="related"><span class="chuto-related text-center wow bounceIn" data-wow-delay="0.5s"
                    data-wow-offset="10">CHECK OUT OUR MOST POPULAR CARDS</span></h2> -->
            <div class="nutan">
                <i class="fa fa-arrow-circle-left prev wow bounceInRight" data-wow-delay="0.1s"></i>
                <i class="fa fa-arrow-circle-right next wow bounceInRight" data-wow-delay="0.6s"></i>
            </div>
            <div class="col-lg-12 grid-uniform">
                <div class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper">
                            <div class="owl-item wow bounceInRight" data-wow-delay="0.3s">
                                <div class="grid__item  product-item">
                                    <div class="grid__image">
                                        <img class="anhthem1" src="images/c1.jpg">
                                        <img class="anhthem2" src="images/c2.jpg">
                                    </div>
                                    <form action="" class="variants AddToCartForm">
                                        <h3 class="h6"><a href="">Cherry Blossom Pop Up Card</a></h3>
                                        <div class="price">
                                            <span class="product-price">
                                                $ 13
                                            </span>
                                            <span class="collection-ratings__wrap">
                                                <div class="star-ratings-css">
                                                    <div class="star-ratings-css-top">
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                    </div>
                                                    <span class="text">(4685)</span>
                                                </div>
                                            </span>
                                        </div>
                                        <button type="submit" class="btn btn-primary kieu">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                            <div class="owl-item wow bounceInRight" data-wow-delay="0.5s">
                                <div class="grid__item  product-item">
                                    <div class="grid__image">
                                        <img class="anhthem1" src="images/d1.jpg">
                                        <img class="anhthem2" src="images/d2.jpg">
                                    </div>
                                    <form action="" class="variants AddToCartForm">
                                        <h3 class="h6"><a href="">Cherry Blossom Pop Up Card</a></h3>
                                        <div class="price">
                                            <span class="product-price">
                                                $ 13
                                            </span>
                                            <span class="collection-ratings__wrap">
                                                <div class="star-ratings-css">
                                                    <div class="star-ratings-css-top">
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                    </div>
                                                    <span class="text">(4685)</span>
                                                </div>
                                            </span>
                                        </div>
                                        <button type="submit" class="btn btn-primary kieu">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                            <div class="owl-item wow bounceInRight" data-wow-delay="0.7s">
                                <div class="grid__item  product-item">
                                    <div class="grid__image">
                                        <img class="anhthem1" src="images/e1.jpg">
                                        <img class="anhthem2" src="images/e2.jpg">
                                    </div>
                                    <form action="" class="variants AddToCartForm">
                                        <h3 class="h6"><a href="">Cherry Blossom Pop Up Card</a></h3>
                                        <div class="price">
                                            <span class="product-price">
                                                $ 13
                                            </span>
                                            <span class="collection-ratings__wrap">
                                                <div class="star-ratings-css">
                                                    <div class="star-ratings-css-top">
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                    </div>
                                                    <span class="text">(4685)</span>
                                                </div>
                                            </span>
                                        </div>
                                        <button type="submit" class="btn btn-primary kieu">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                            <div class="owl-item wow bounceInRight" data-wow-delay="0.9s">
                                <div class="grid__item  product-item">
                                    <div class="grid__image">
                                        <img class="anhthem1" src="images/f1.jpg">
                                        <img class="anhthem2" src="images/f2.jpg">
                                    </div>
                                    <form action="" class="variants AddToCartForm">
                                        <h3 class="h6"><a href="">Cherry Blossom Pop Up Card</a></h3>
                                        <div class="price">
                                            <span class="product-price">
                                                $ 13
                                            </span>
                                            <span class="collection-ratings__wrap">
                                                <div class="star-ratings-css">
                                                    <div class="star-ratings-css-top">
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                    </div>
                                                    <span class="text">(4685)</span>
                                                </div>
                                            </span>
                                        </div>
                                        <button type="submit" class="btn btn-primary kieu">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                            <div class="owl-item wow bounceInRight" data-wow-delay="1.1s">
                                <div class="grid__item  product-item">
                                    <div class="grid__image">
                                        <img class="anhthem1" src="images/h1.jpg">
                                        <img class="anhthem2" src="images/h2.jpg">
                                    </div>
                                    <form action="" class="variants AddToCartForm">
                                        <h3 class="h6"><a href="">Cherry Blossom Pop Up Card</a></h3>
                                        <div class="price">
                                            <span class="product-price">
                                                $ 13
                                            </span>
                                            <span class="collection-ratings__wrap">
                                                <div class="star-ratings-css">
                                                    <div class="star-ratings-css-top">
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                    </div>
                                                    <span class="text">(4685)</span>
                                                </div>
                                            </span>
                                        </div>
                                        <button type="submit" class="btn btn-primary kieu">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container session1">
    <div class="row">
        <h2 class="text-center title-block wow bounceIn" data-wow-delay="0.1s" data-wow-offset="50">CARDS FOR EVERY
            OCCASION</h2>
        <a href="#" class="col-sm-4 cate1 wow bounceInUp" data-wow-delay="0.3s">
            <div class=" text-center">
                <div class="tinto">
                    <img src="../images/xmas.jpg" alt="" class="layer1">
                    <div class="xam"></div>

                    <div class="gradient"></div>
                    <div class="hinhvuong"></div>
                    <div class="chuto1">Christmas</div>

                </div>
            </div>
        </a>
        <a href="#" class="col-sm-4 cate1 wow bounceInUp" data-wow-delay="0.4s">
            <div class="">
                <div class="tinto">
                    <img src="../images/birthday.jpg" alt="" class="layer1">
                    <div class="xam"></div>

                    <div class="gradient col-sm-6"></div>
                    <div class="hinhvuong"></div>
                    <div class="chuto1">Birthday</div>

                </div>
            </div>
        </a>
        <a href="#" class="col-sm-4 cate1 wow bounceInUp" data-wow-delay="0.5s">
            <div class="">
                <div class="tinto">
                    <img src="../images/wedding3.jpg" alt="" class="layer1">
                    <div class="xam"></div>

                    <div class="gradient col-sm-6"></div>
                    <div class="hinhvuong"></div>
                    <div class="chuto1">Wedding</div>
                </div>
            </div>
        </a>
        <a href="#" class="col-sm-4 cate1 wow bounceInUp" data-wow-delay="0.6s">
            <div class="">
                <div class="tinto">
                    <img src="../images/newyear3.jpeg" alt="" class="layer1">
                    <div class="xam"></div>
                    <div class="gradient"></div>
                    <div class="hinhvuong"></div>
                    <div class="chuto1">Happy New Year</div>

                </div>
            </div>
        </a>
        <a href="#" class="col-sm-4 cate1 wow bounceInUp" data-wow-delay="0.7s">
            <div class="">
                <div class="tinto">
                    <img src="../images/thanks.jpg" alt="" class="layer1">
                    <div class="xam"></div>

                    <div class="gradient"></div>
                    <div class="hinhvuong"></div>
                    <div class="chuto1">Thank You</div>

                </div>
            </div>
        </a>
        <a href="#" class="col-sm-4 cate1 wow bounceInUp" data-wow-delay="0.8s">
            <div class="">
                <div class="tinto">
                    <img src="../images/graduation.jpg" alt="" class="layer1">
                    <div class="xam"></div>

                    <div class="gradient"></div>
                    <div class="hinhvuong"></div>
                    <div class="chuto1">Graduation</div>

                </div>
            </div>
        </a>
        <a href="#" class="col-sm-4 cate1 wow bounceInUp" data-wow-delay="0.9s">
            <div class="">
                <div class="tinto">
                    <img src="../images/mothers.jpg" alt="" class="layer1">
                    <div class="xam"></div>

                    <div class="gradient"></div>
                    <div class="hinhvuong"></div>
                    <div class="chuto1">Mother's Day</div>

                </div>
            </div>
        </a>
        <a href="#" class="col-sm-4 cate1 wow bounceInUp" data-wow-delay="1s">
            <div class="">
                <div class="tinto">
                    <img src="../images/father.jpg" alt="" class="layer1">
                    <div class="xam"></div>

                    <div class="gradient"></div>
                    <div class="hinhvuong"></div>
                    <div class="chuto1">Father's Day</div>

                </div>
            </div>
        </a>
        <a href="#" class="col-sm-4 cate1 wow bounceInUp" data-wow-delay="1.1s">
            <div class="">
                <div class="tinto">
                    <img src="../images/valentine.jpg" alt="" class="layer1">
                    <div class="xam"></div>

                    <div class="gradient"></div>
                    <div class="hinhvuong"></div>
                    <div class="chuto1">Valentine's Day</div>

                </div>
            </div>
        </a>
    </div>
</div>
<section class="product-related">
    <div class="container">
        <div class="row">
            <h2 class="text-center title-block wow bounceIn" data-wow-delay="0.1s" data-wow-offset="50">News Latest</h2>
            <div class="nutan">
                <i class="fa fa-arrow-circle-left prev wow bounceIn" data-wow-delay="0.1s"></i>
                <i class="fa fa-arrow-circle-right next wow bounceIn" data-wow-delay="0.6s"></i>
            </div>
            <div class="col-lg-12 grid-uniform">
                <div class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper">
                            <div class="owl-item wow bounceIn" data-wow-delay="0.3s">
                                <div class="grid__item  product-item">
                                    <div class="grid__image">
                                        <img class="anhthem1" src="images/c1.jpg">
                                        <img class="anhthem2" src="images/c2.jpg">
                                    </div>
                                    <form action="" class="variants AddToCartForm">
                                        <h3 class="h6"><a href="">Cherry Blossom Pop Up Card</a></h3>
                                        <div class="price">
                                            <span class="product-price">
                                                $ 13
                                            </span>
                                            <span class="collection-ratings__wrap">
                                                <div class="star-ratings-css">
                                                    <div class="star-ratings-css-top">
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                    </div>
                                                    <span class="text">(4685)</span>
                                                </div>
                                            </span>
                                        </div>
                                        <button type="submit" class="btn btn-primary kieu">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                            <div class="owl-item wow bounceIn" data-wow-delay="0.5s">
                                <div class="grid__item  product-item">
                                    <div class="grid__image">
                                        <img class="anhthem1" src="images/c1.jpg">
                                        <img class="anhthem2" src="images/c2.jpg">
                                    </div>
                                    <form action="" class="variants AddToCartForm">
                                        <h3 class="h6"><a href="">Cherry Blossom Pop Up Card</a></h3>
                                        <div class="price">
                                            <span class="product-price">
                                                $ 13
                                            </span>
                                            <span class="collection-ratings__wrap">
                                                <div class="star-ratings-css">
                                                    <div class="star-ratings-css-top">
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                    </div>
                                                    <span class="text">(4685)</span>
                                                </div>
                                            </span>
                                        </div>
                                        <button type="submit" class="btn btn-primary kieu">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                            <div class="owl-item wow bounceIn" data-wow-delay="0.7s">
                                <div class="grid__item  product-item">
                                    <div class="grid__image">
                                        <img class="anhthem1" src="images/c1.jpg">
                                        <img class="anhthem2" src="images/c2.jpg">
                                    </div>
                                    <form action="" class="variants AddToCartForm">
                                        <h3 class="h6"><a href="">Cherry Blossom Pop Up Card</a></h3>
                                        <div class="price">
                                            <span class="product-price">
                                                $ 13
                                            </span>
                                            <span class="collection-ratings__wrap">
                                                <div class="star-ratings-css">
                                                    <div class="star-ratings-css-top">
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                    </div>
                                                    <span class="text">(4685)</span>
                                                </div>
                                            </span>
                                        </div>
                                        <button type="submit" class="btn btn-primary kieu">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                            <div class="owl-item wow bounceIn" data-wow-delay="0.9s">
                                <div class="grid__item  product-item">
                                    <div class="grid__image">
                                        <img class="anhthem1" src="images/c1.jpg">
                                        <img class="anhthem2" src="images/c2.jpg">
                                    </div>
                                    <form action="" class="variants AddToCartForm">
                                        <h3 class="h6"><a href="">Cherry Blossom Pop Up Card</a></h3>
                                        <div class="price">
                                            <span class="product-price">
                                                $ 13
                                            </span>
                                            <span class="collection-ratings__wrap">
                                                <div class="star-ratings-css">
                                                    <div class="star-ratings-css-top">
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                    </div>
                                                    <span class="text">(4685)</span>
                                                </div>
                                            </span>
                                        </div>
                                        <button type="submit" class="btn btn-primary kieu">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                            <div class="owl-item wow bounceIn" data-wow-delay="1.1s">
                                <div class="grid__item  product-item">
                                    <div class="grid__image">
                                        <img class="anhthem1" src="images/c1.jpg">
                                        <img class="anhthem2" src="images/c2.jpg">
                                    </div>
                                    <form action="" class="variants AddToCartForm">
                                        <h3 class="h6"><a href="">Cherry Blossom Pop Up Card</a></h3>
                                        <div class="price">
                                            <span class="product-price">
                                                $ 13
                                            </span>
                                            <span class="collection-ratings__wrap">
                                                <div class="star-ratings-css">
                                                    <div class="star-ratings-css-top">
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                        <span>★</span>
                                                    </div>
                                                    <span class="text">(4685)</span>
                                                </div>
                                            </span>
                                        </div>
                                        <button type="submit" class="btn btn-primary kieu">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include template/footer %>