<% include template/headeradmin %>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Upload thanhcong</h1>
        <p class="lead">Up thanh cong du lieu</p>
        <hr class="my-2">
        <p class="lead">
            <a class="btn btn-primary btn-block" href="/admin/list-categories">Xem sản phẩm</a>
        </p>
    </div>
  </div>
<% include template/footeradmin %>