<footer class="footer m-t-50">
    <div class="widgets_wrapper">
      <div class="container">
        <div class="column one-fourth">
          <div class="widget_text widget widget_custom_html">
            <div class="textwidget custom-html-widget">
              <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                <h4 class="add-h4 wow bounceIn" data-wow-delay="0.1s">Alithea</h4>
              </div>
              
              <ul class="method">
                  <p class="chube  wow bounceIn" data-wow-delay="0.1s">Payment Methods</p>
                  <li>
                      <a href="#">
                          <img class="payment amex wow bounceIn" data-wow-delay="0.2s" src="../../images/amex.png">
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img class="payment discover wow bounceIn" data-wow-delay="0.2s" src="../../images/discover.png">
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img class="payment visa wow bounceIn" data-wow-delay="0.2s" src="../../images/visa.png">
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img class="payment master wow bounceIn" data-wow-delay="0.2s" src="../../../images/master.png">
                      </a>
                  </li>
                  
              </ul>
            </div>
          </div>
        </div>
        <div class="column one-fourth">
          <div class="widget_text widget widget_custom_html">
              <h4 class="add-h4 wow bounceIn" data-wow-delay="0.1s">Let Us Help You</h4>
              <div class="textwidget custom-html-widget">
                  <hr class="no_line" style="margin: 0 auto 20px;">
                  <p class="chube pd-b wow bounceIn" data-wow-delay="0.2s"> <a href="">Shipping Rate & Policies</a> </p>
                  <p class="chube pd-b wow bounceIn" data-wow-delay="0.2s"> <a href="">Returns & Replacements</a> </p>
                  <p class="chube pd-b wow bounceIn" data-wow-delay="0.2s"> <a href="">Your account</a></p>
                  <p class="chube pd-b wow bounceIn" data-wow-delay="0.2s"> <a href="">Your order</a></p>
                  <p class="chube pd-b wow bounceIn" data-wow-delay="0.2s"> <a href="">Help</a></p>
              </div>
          </div>
        </div>
        <div class="column one-fourth">
          <div class="widget_text widget widget_custom_html">
            <h4 class="add-h4 wow bounceIn" data-wow-delay="0.1s">Any questions?</h4>
            <div class="textwidget custom-html-widget">
              <hr class="no_line" style="margin: 0 auto 20px;">
              <div class="google_font1 wow bounceIn" data-wow-delay="0.2s">
                +61(0) 383 766 284
              </div>
              <p class="big wow bounceIn" data-wow-delay="0.3s">
                <a href="#">alithea@envato.com</a>
              </p>
              <hr class="no_line" style="margin: 0 auto 55px;">
              <a name="" id="" class="btn btn-primary maudo wow bounceIn" data-wow-delay="0.4s" href="#" role="button">Get in touch</a>
            </div>
          </div>
        </div>
        <div class="column one-fourth">
          <div class="widget_text widget widget_custom_html">
            <h4 class="add-h4 wow bounceIn" data-wow-delay="0.1s">Contact us</h4>
            <div class="textwidget custom-html-widget">
              <hr class="no_line" style="margin: 0 auto 20px;">
              <p class="chube wow bounceIn" data-wow-delay="0.2s"> 8 Ton That Thuyet St,<br> Cau Giay, Ha Noi,<br> Viet Nam</p>
              <hr class="no_line" style="margin: 0 auto 55px;">
              <a name="" id="" class="btn btn-primary mauxanh wow bounceIn" data-wow-delay="0.3s" href="#" role="button">Buy now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_copy">
      <div class="container">
        <div class="column one" style="padding-top: 30px;"><a id="back_to_top" class="button button_js" ><i class="fas fa-angle-up"></i></a>
          <div class="copyright wow bounceIn" data-wow-delay="0.2s"> © 2018 BeLogistics 2 - Alithea. All Rights Reserved. <a target="_blank" rel="nofollow"
              href="/alithea" style="color: #fff;">Alithea</a></div>
          <ul class="social"></ul>
        </div>
      </div>
    </div>
  </footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../../vendor/jquery.js"></script>
<script src="../../vendor/js/poper.js"></script>
<script src="../../vendor/js/easing.js"></script>
<script src="../../vendor/js/bootstrap.min.js"></script>
<script src="../../vendor/js/all.js"></script>
<script src="../../vendor/js/wow.js"></script>
<script src="../../vendor/js/jquery.countdown.min.js"></script>
<script src="../../javascripts/admin.js"></script>
<script src="../../javascripts/register.js"></script>
</body>

</html>