	<div class="studentedit">
		<form>
			<div class="detailava">
				<i class="fas fa-user-circle fa-5x"></i>
			</div>
			<div class="input-name"><p>Student name</p></div>
			<div class="edit-box editname">
				<input class="edit-info add-name" type="text" value="{{detail.name}}" ng-model="detail.name"/>
			</div>
			<div class="input-name"><p>Phone</p></div>
			<div class="edit-box editphone">
				<input class="edit-info add-phone" type="text" value="{{detail.phonenumb}}" ng-model="detail.phonenumb"/>
			</div>
			<div class="input-name"><p>Gender</p></div>
			<div class="edit-box editgender">
				<input class="edit-info add-gender" type="text" value="{{detail.gender}}" ng-model="detail.gender"/>
			</div>
			<div class="input-name"><p>Date of birth</p></div>
			<div class="edit-box editbirth">
				<input class="edit-info add-birth" type="text" value="{{detail.birth}}" ng-model="detail.birth"/>
			</div>
			<div class="input-name"><p>School</p></div>
			<div class="edit-box editschool">
				<input class="edit-info addschool" type="text" value="{{detail.school}}" ng-model="detail.school"/>
			</div>
			<div class="input-name"><p>Class</p></div>
			<div class="edit-box editclass">
				<input class="edit-info add-class" type="text" value="{{detail.classgrade}}" ng-model="detail.classgrade"/>
			</div>
			<div class="input-name"><p>Student code</p></div>
			<div class="edit-box editstudentcode">
				<input class="edit-info addstudentcode" type="text" value="{{detail.studentcode}}" ng-model="detail.studentcode"/>
			</div>
			<div class="input-name"><p>Address</p></div>
			<div class="edit-box editaddress">
				<input class="edit-info addaddress" type="text" value="{{detail.address}}" ng-model="detail.address"/>
			</div>
			<div class="input-name"><p>Twitter</p></div>
			<div class="edit-box edittwitter">
				<input class="edit-info add-twitter" type="text" value="{{detail.twitter}}" ng-model="detail.twitter"/>
			</div>
			<div class="input-name"><p>Email</p></div>
			<div class="edit-box editemail">
				<input class="edit-info add-email" type="text" value="{{detail.email}}" ng-model="detail.email"/>
			</div>
		</form>
	</div>
	<div class="footer"></div>