body
{
	background-color: #f4f6f8;
}

h3
{
	font-size: 18px;
	font-family: Arial;
	color: #34404b;
}

h1
{
	text-align: center;
}

p
{
	font-family: Arial;
	color: #ff5912;
	font-weight:600;
	font-size: 18px;
}

.product-panel
{
	background-color: #ffffff;
	text-align: center;
	padding: 35px 0px;
	/*
	border-bottom:  1px solid red;
	border-top:1px solid green;
	border:1px solid orange;
	*/
	width: 270px;
	height: 283px;
	margin: 15px;
	float: left;
}

.first-row
{
	margin-top: 300px;
}

.first-column
{
	margin-left: 485px;
}

.last-row
{
	margin-bottom: 704px;
}

.last-column
{
	margin-right: 185px;
}