<ul>
    <li class="col-xs-2">
        <i class="glyphicon glyphicon-star-empty"></i>
        <p>Home</p>
    </li>
    <li class="col-xs-3">        
        <i class="glyphicon glyphicon-star-empty"></i>
        <p>Home</p>
    </li>
    <li class="col-xs-2">        
        <i class="glyphicon glyphicon-star-empty"></i>
        <p>Home</p>
    </li>
    <li class="col-xs-3">        
        <i class="glyphicon glyphicon-star-empty"></i>
        <p>Home</p>
    </li>
    <li class="col-xs-2">        
        <i class="glyphicon glyphicon-star-empty"></i>
        <p>Home</p>
    </li>
</ul>