<ul>
    <li class="col-xs-2">
        <i class="glyphicon glyphicon-star-empty"></i>
        <p>Favourite</p>
    </li>
    <li class="col-xs-3">        
        <i class="glyphicon glyphicon-star-empty"></i>
        <p>Recents</p>
    </li>
    <li class="col-xs-2">        
        <i class="glyphicon glyphicon-star-empty"></i>
        <p>Contacts</p>
    </li>
    <li class="col-xs-3">        
        <i class="glyphicon glyphicon-star-empty"></i>
        <p>Keypad</p>
    </li>
    <li class="col-xs-2">        
        <i class="glyphicon glyphicon-star-empty"></i>
        <p>Voicemail</p>
    </li>
</ul>