body{background-image: url("snowy-christmas-background-vector.jpg")}

h1{
	font-size: 100px;
	font-family: Times new roman;
	color: #ffffff;
}
b{
	font-size: 25px;
	font-family: Arial;
	color: #34404b;
}
p{
	font-size: 30px;
	font-family: Arial;
	color: #ff6422;
}