<!DOCTYPE html>
<html>
<head>
	<title>LIST CONTACTS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8"/>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/angular-route.js"></script>
	<script type="text/javascript" src="js/angular-animate.js"></script>
	<script type="text/javascript" src="js/contacts.json"></script>
	<script type="text/javascript" src="js/js.js"></script>
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body ng-app="demoApp">
	
	<!-- <div ng-controller="demoController">
		<input type="number" min="0" ng-model="total"/>
		<input type="text" ng-model="name"/>
		<h1>4+5={{total}}</h1>
		<h2>{{name}}</h2>
		<button type="button" ng-click="addTotal()">Add</button>
		<button type="button" ng-click="truTotal()">Trừ</button>
	</div>
	<div ng-controller=demo2Controller>
		<input type="checkbox" id="show" name="show_list" ng-model="show_list">
		<label for="show">Show list</label>
		<ul ng-if="show_list">
			<li ng-repeat="student1 in students">{{student1.name}} -- {{student1.birthday}}</li>
		</ul>
		<input type="text" ng-model="xx">
		<label >Search</label>
		<ul >
			<li ng-repeat="student1 in students | filter: xx">{{student1.name}} -- {{student1.birthday}}</li>
		</ul>
	</div> -->

	<div class="col-xs-12" >
		<div class="container" >
			<div class="row">
				
				<div ng-view class="slide-pop" ></div>
				
			</div>	
		</div>
	</div>
	

	<!-- begin goto home
	<a href="#!home2">Go to Home 2</a>
	<div ng-view></div>
	end goto home -->
	
</body>
</html>